tools/Startup Ideas to Telegram Agent.json
{
  "name": "Startup Ideas to Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread",
          "sender": "superhuman"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        0
      ],
      "id": "23ce7e24-9d98-4218-b5ad-c5aff6b4c1cc",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "1TMgrBfLMp1jUvOF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ],
      "id": "cd50dbc3-7f67-40da-8752-0ee2614e726d",
      "name": "Markdown"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -640,
        700
      ],
      "id": "3a9a064e-2330-46a2-954a-15caf76b6402",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "M46faAm17G0Nl7Io",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Newsletter:\n{{ $json.data }}",
        "options": {
          "systemMessage": "You are fed with the data from a news letter, your duty is to summarize the newsletter into a list. \n\nMake it to a numbered list of items. DO NOT USE MARKDOWN."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -100,
        0
      ],
      "id": "a46a66c9-d3fb-4d8b-b38a-0dd5ef927967",
      "name": "Newsletter Summarizer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Based on the input, generate five startup ideas and put them into a numbered list. \nThe idea explanation must be brief and NOT more than two sentences.\nRemember to NOT USE ANY MARKDOWN."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        280,
        240
      ],
      "id": "36a90ba2-da92-4e5f-8e87-72b0c7c6d0a9",
      "name": "Idea Generator"
    },
    {
      "parameters": {
        "chatId": "-1002812218617",
        "text": "=__ Summary __\n\n{{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1080,
        0
      ],
      "id": "95f10aab-eabf-49f1-b98f-61ac52c57abe",
      "name": "Newsletter Summary",
      "webhookId": "fd6e1610-7313-4279-9127-51076661f1cf",
      "credentials": {
        "telegramApi": {
          "id": "mwXdE9gHSU3qiPlF",
          "name": "Agent Smith"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"ideas\" : [\n      { \"title\" : \"Title for the startup\",\n        \"brief\" : \"The brief explanation\"\n      }\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        440,
        480
      ],
      "id": "b2fd8cc1-a934-427e-8551-ed5981753b52",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.ideas",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        240
      ],
      "id": "4c70d7d4-0adb-4f39-bfce-ef72af66a90c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wn7gofyJaiDJg7y07gviEY9a2UAl1vTiqFDp4xjHZX0",
          "mode": "list",
          "cachedResultName": "Newsletter Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wn7gofyJaiDJg7y07gviEY9a2UAl1vTiqFDp4xjHZX0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wn7gofyJaiDJg7y07gviEY9a2UAl1vTiqFDp4xjHZX0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Brief": "={{ $json.brief }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brief",
              "displayName": "Brief",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        860,
        240
      ],
      "id": "ced46559-93dd-48e2-9e9e-f814b9b542e9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AjdAghdWxIbT8Ja4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1002812218617",
        "text": "Ideas Sheet updated successfully.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1080,
        240
      ],
      "id": "4425de73-99bb-41cd-8c66-9ab13082c781",
      "name": "Send a text message",
      "webhookId": "7d18caa8-f86d-4ab5-8b20-bd40c3406713",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "mwXdE9gHSU3qiPlF",
          "name": "Agent Smith"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -480,
        0
      ],
      "id": "b3232a4a-a348-421e-9f22-7a052bb9733f",
      "name": "Mark a message as read",
      "webhookId": "3bfbedeb-a150-46e7-82cd-b5b1bfaefd18",
      "credentials": {
        "gmailOAuth2": {
          "id": "1TMgrBfLMp1jUvOF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "197f99a3304ea37f",
          "threadId": "197f99a3304ea37f",
          "labelIds": [
            "IMPORTANT",
            "CATEGORY_UPDATES",
            "INBOX"
          ],
          "sizeEstimate": 126435,
          "headers": {
            "delivered-to": "Delivered-To: haghiri75@gmail.com",
            "received": "Received: from MzE2MzQ4MTM (unknown)\r\n\tby geopod-ismtpd-23 (SG) with HTTP\r\n\tid IixE5A3qQH-49lXTMfxudw\r\n\tFri, 11 Jul 2025 13:08:26.624 +0000 (UTC)",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IF3u/IXuqo5i0DSRxaQ83OwiWhMBXRJXVyShVS2q2chETF/na4iw8NjdAzQgMvjlVG/5CW3",
            "x-received": "X-Received: by 2002:a05:600c:3145:b0:44a:b478:1387 with SMTP id 5b1f17b1804b1-454f4255ce8mr35218675e9.17.1752239321645;\r\n        Fri, 11 Jul 2025 06:08:41 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1752239321; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=j0BdMp01JGazvQXEtYs9chqLlRMB/eLoU9Gd63z8klzBd7I/am96w9OEEy/QpKWDoq\r\n         EVbG0OMFc75U7CYMhdWJzyo5VOPLfWXeT+3TSqYjnBs5uY0diovTdaVyjkQ/uRWyHx+N\r\n         5pHDUcFrEo0KDv+WTEF5ueXA8bz7YeSL+5Q+HIQ8wNDe9K3eCv1H5Rmrg3K8pnWYnCKj\r\n         mJugPhv3nOU4eARDvHU42vj62n2P540xsEhfpCGOI4qyNq5wY6oIRtrl5xexgn0h+1bM\r\n         MwsNTgrzL+uj0C6iu1Y/p4w4zcfEcbFJj57cGaRP+Ep1oFXr6gmtA/tnZb2LBWcR8VPe\r\n         cFsQ==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:sid:list-unsubscribe-post:list-unsubscribe:feedback-id:reply-to\r\n         :subject:message-id:mime-version:from:date:dkim-signature\r\n         :dkim-signature;\r\n        bh=FKYzHXAIj2Fk96Jl63h2g3zKhHvkEzPcA44Mo/E4DH4=;\r\n        fh=jI0QuUkWxB6b3Cy5b0ppEqc18b6qkd6UIEhRxOjte4E=;\r\n        b=IxNJu7fFuoTYqe0Qs1EUpEUxbWLz4dMPHCa+cf3bgFIVaKWWCDoOiYGKlg7BOyclJe\r\n         Kwg8s0BpwczbmDAryVUeKeVtY0JiB7IoBKDz3uatYvBONRgI1hZTDzd9D5Qfa9FSzlyg\r\n         kWq2WeScKacA3FEFXKxBzqY/iPPRM/0M/AfULieALAllVtjqAjL9YTrzD70XsMGv/D5v\r\n         jAXKP1Us//R0ZpX+jxbVjDIox93WcxPywoWDxx6QmMaClkAPc494WPCJHgRWA4amU75t\r\n         CB7G7ckA7fNnl8LsYZ6b/DsWARjqMdCRaqTqBD8naK45hBGG6NTRLMHvnqmXYdPVIFOv\r\n         /2vQ==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@mail.joinsuperhuman.ai header.s=21d header.b=WImav2kx;\r\n       dkim=pass header.i=@sendgrid.info header.s=smtpapi header.b=\"vWL/8pYv\";\r\n       spf=pass (google.com: domain of bounces+31634813-7591-haghiri75=gmail.com@em4500.mail.joinsuperhuman.ai designates 149.72.164.250 as permitted sender) smtp.mailfrom=\"bounces+31634813-7591-haghiri75=gmail.com@em4500.mail.joinsuperhuman.ai\";\r\n       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=mail.joinsuperhuman.ai",
            "return-path": "Return-Path: <bounces+31634813-7591-haghiri75=gmail.com@em4500.mail.joinsuperhuman.ai>",
            "received-spf": "Received-SPF: pass (google.com: domain of bounces+31634813-7591-haghiri75=gmail.com@em4500.mail.joinsuperhuman.ai designates 149.72.164.250 as permitted sender) client-ip=149.72.164.250;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@mail.joinsuperhuman.ai header.s=21d header.b=WImav2kx;\r\n       dkim=pass header.i=@sendgrid.info header.s=smtpapi header.b=\"vWL/8pYv\";\r\n       spf=pass (google.com: domain of bounces+31634813-7591-haghiri75=gmail.com@em4500.mail.joinsuperhuman.ai designates 149.72.164.250 as permitted sender) smtp.mailfrom=\"bounces+31634813-7591-haghiri75=gmail.com@em4500.mail.joinsuperhuman.ai\";\r\n       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=mail.joinsuperhuman.ai",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed; d=sendgrid.info;\r\n\th=content-type:from:mime-version:subject:reply-to:feedback-id:\r\n\tlist-unsubscribe:list-unsubscribe-post:to:cc:content-type:feedback-id:from:subject:to;\r\n\ts=smtpapi; bh=FKYzHXAIj2Fk96Jl63h2g3zKhHvkEzPcA44Mo/E4DH4=;\r\n\tb=vWL/8pYvMtG3L06zkVutx5PD4G/TVJZ/k4O8SMIjq92UJ3A+aLp3aflPVxL0RO7lY41b\r\n\t7cWrMXP0N2IHOwfbg/yQRmPB2lJZVVUqhi0jQxq7+pBGin25HVSpr2PkHAcRQ35AuQHd7/\r\n\tCVM6z53ppuQHv5kj7pRN91vlKwjq949wk=",
            "content-type": "Content-Type: multipart/alternative; boundary=8259ab36f43853af6095ad193c8962f92a9256ce0481b880beb8117fb050",
            "date": "Date: Fri, 11 Jul 2025 13:08:40 +0000 (UTC)",
            "from": "From: Superhuman =?windows-1251?b?lg==?= Zain Kahn\r\n\t<superhuman@mail.joinsuperhuman.ai>",
            "mime-version": "Mime-Version: 1.0",
            "message-id": "Message-ID: <IixE5A3qQH-49lXTMfxudw@geopod-ismtpd-23>",
            "subject": "Subject: =?UTF-8?B?8J+UpQ==?= Grok 4 fuels AGI debate",
            "reply-to": "Reply-To: Superhuman =?windows-1251?b?lg==?= Zain Kahn\r\n\t<superhuman@joinsuperhuman.io>",
            "feedback-id": "Feedback-ID: \r\n =?us-ascii?Q?b240dbc7-aaa7-47d8-8345-483e34ad582a=3Anewsletter=3Afaa6a747-8c1c-?=\r\n =?us-ascii?Q?43c1-8155-91aa43268f01=3A7bd16d7c7efcba3?=",
            "list-unsubscribe": "List-Unsubscribe: \r\n =?us-ascii?Q?=3Cmailto=3Afaa6a747-8c1c-43c1-8155-91aa43268f01+1e3ef7b4-f68c-455?=\r\n =?us-ascii?Q?6-bd6e-6e33451ec1cd+b240dbc7-aaa7-47d8-?=\r\n =?us-ascii?Q?8345-483e34ad582a=40unsub=2Ebeehiiv=2Ecom=3E=2C?=\r\n =?us-ascii?Q?_=3Chttps=3A=2F=2Fwww=2Esuperhuman=2Eai=2Funsubscribe=2FeyJ0eXAiOiJKV1QiLCJhbGc?=\r\n =?us-ascii?Q?iOiJIUzI1NiJ9=2EeyJzdWJzY3JpYmVyX2lkIjoiM?=\r\n =?us-ascii?Q?WUzZWY3YjQtZjY4Yy00NTU2LWJkNmUtNmUzMzQ1?=\r\n =?us-ascii?Q?MWVjMWNkIiwicG9zdF9pZCI6ImIyNDBkYmM3LWF?=\r\n =?us-ascii?Q?hYTctNDdkOC04MzQ1LTQ4M2UzNGFkNTgyYSIsIm?=\r\n =?us-ascii?Q?xhc3RfcmVzb3VyY2VfZ3VpZCI6IlBvc3Q6YjI0M?=\r\n =?us-ascii?Q?GRiYzctYWFhNy00N2Q4LTgzNDUtNDgzZTM0YWQ1?=\r\n =?us-ascii?Q?ODJhIn0=2EZ1K4Kj=5F59UDHQhrRBjV=5FMLuv=5FRhSZjL?=\r\n =?us-ascii?Q?YHssmSm=5FRqp0=3E?=",
            "list-unsubscribe-post": "List-Unsubscribe-Post: List-Unsubscribe=One-Click",
            "sid": "sId: faa6a747-8c1c-43c1-8155-91aa43268f01",
            "x-beehiiv-ids": "x-beehiiv-ids: \r\n =?us-ascii?Q?{=22account=5Fname=22=3A=22https=3A=2F=2Fwww=2Esuperhuman=2Eai=2F=22=2C=22campaign=5Fid=22=3A=22b2?=\r\n =?us-ascii?Q?40dbc7-aaa7-47d8-8345-483e34ad582a=22=2C=22ca?=\r\n =?us-ascii?Q?tegory=22=3A=22newsletter=22=2C=22email=5Fgenerated=5Fa?=\r\n =?us-ascii?Q?t=22=3A1752239306=2C=22user=5Fid=22=3A=22faa6a747-8c1c-?=\r\n =?us-ascii?Q?43c1-8155-91aa43268f01=22}?=",
            "x-beehiiv-type": "x-beehiiv-type: newsletter",
            "x-list-id": "x-list-id: faa6a747-8c1c-43c1-8155-91aa43268f01",
            "x-list-owner": "x-list-owner: <mailto:superhuman@joinsuperhuman.io>",
            "x-newsletter": "x-newsletter: https://www.superhuman.ai/p/grok-4-fuels-agi-debate",
            "x-newsletter-id": "x-newsletter-id: https://www.superhuman.ai/",
            "x-newsletter-signup": "x-newsletter-signup: https://www.superhuman.ai/subscribe",
            "x-sg-eid": "X-SG-EID: \r\n =?us-ascii?Q?u001=2ExRwH9YGEnJ6+3su+Div4GhZRQaYCVkeRI0jmn4xts8zJnzupZXxGnFE9h?=\r\n =?us-ascii?Q?mp=2Fzaahh3kvVr4Awl8RpWuEQMxod+oFfPH4zBaz?=\r\n =?us-ascii?Q?tWJlHbbKAKSWRs+Az90HDVUQEcO7yxym+bMUhYv?=\r\n =?us-ascii?Q?ZbHfQd4zTP4Bi7w4tlk=2FUu8oG5egoFRn0DfDmM0?=\r\n =?us-ascii?Q?GLkuIKvTly3eUw=2Fmp3fw7DT7QiKpW2YIe9qXShG?=\r\n =?us-ascii?Q?nxXx8UNPxkZNv3pELLf2XFMmd2DOTn1y=2FiqUTK7?=\r\n =?us-ascii?Q?Ch72Y5dG2ckFNFsyW23IY7GC4w=3D=3D?=",
            "x-sg-id": "X-SG-ID: \r\n =?us-ascii?Q?u001=2ESdBcvi+Evd=2FbQef8eZF3BpTL9BgbK5wfSJMJGMsmprD1ZcmFObA4po1bG?=\r\n =?us-ascii?Q?aUE6gycM0jWjuM3kvwpNlHAMqvkPs290fyPGG8b?=\r\n =?us-ascii?Q?zHF1tYBPkTdAuXmOfH2=2Ft+V1GM5m3IKMxWjHsMw?=\r\n =?us-ascii?Q?PMQR1KiuO7VjphIIAVAneQuCNV6pfymLM45kWpr?=\r\n =?us-ascii?Q?RtZW8DLUfW9RfQUGIYQUX33Gy=2F9UG0+Uy9EmEvc?=\r\n =?us-ascii?Q?dyaIf6pkoGJec6ogwSWj8KlR4bTP8QiM0mrV8wO?=\r\n =?us-ascii?Q?oGTUkKHozfH8Zx6EopPSL9oxZi2Cqw+gGVfLjOE?=\r\n =?us-ascii?Q?YlchaxvEG0rBpf78GVCozwfqZ=2F1m9BcAvKY1UGb?=\r\n =?us-ascii?Q?j+s+y5O2FPzQ=3D=3D?=",
            "to": "To: \"haghiri75@gmail.com\" <haghiri75@gmail.com>",
            "x-entity-id": "X-Entity-ID: u001.8o3C2YMohoAcztfnLMJrpQ=="
          },
          "html": "<!DOCTYPE html><html lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\" style=\"font-size:16px;\"><head></head><head><meta charset=\"utf-8\"/><!--[if !mso]><!--><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/><!--<![endif]--><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"/><meta name=\"x-apple-disable-message-reformatting\"/><meta name=\"format-detection\" content=\"telephone=no,address=no,email=no,date=no,url=no\"/><meta name=\"color-scheme\" content=\"light\"/><meta name=\"supported-color-schemes\" content=\"light\"/><title>🔥 Grok 4 fuels AGI debate</title><!--[if mso]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]--><style>\n  :root { color-scheme: light; supported-color-schemes: light; }\n  body { margin: 0; padding: 0; min-width: 100%!important; -ms-text-size-adjust: 100% !important; -webkit-transform: scale(1) !important; -webkit-text-size-adjust: 100% !important; -webkit-font-smoothing: antialiased !important; }\n  .body { word-wrap: normal; word-spacing:normal; }\n  table.mso { width: 100%; border-collapse: collapse; padding: 0; table-layout: fixed; }\n  img { border: 0; outline: none; }\n  table {  mso-table-lspace: 0px; mso-table-rspace: 0px; }\n  td, a, span {  mso-line-height-rule: exactly; }\n  #root [x-apple-data-detectors=true],\n  a[x-apple-data-detectors=true],\n  #MessageViewBody a { color: inherit !important; text-decoration: inherit !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; }\n  span.MsoHyperlink { color: inherit !important; mso-style-priority: 99 !important; }\n  span.MsoHyperlinkFollowed { color: inherit !important; mso-style-priority: 99 !important; }\n  .a { background-color:#ffffff; }\n  .b { background-color:#ccffcb; }\n  .c  { background-color:#ffffff; }\n  .d { background-color:#ecffec; }\n  .d2 { background-color:#ffffff; }\n  .d3 { background-color:#FFFFFF; }\n  h1 a { text-decoration:underline;color:#2c81e5; }\n  h2 a { text-decoration:underline;color:#2c81e5; }\n  h3 a { text-decoration:underline;color:#2c81e5; }\n  h4 a { text-decoration:underline;color:#2c81e5; }\n  h5 a { text-decoration:underline;color:#2c81e5; }\n  h6 a { text-decoration:underline;color:#2c81e5; }\n  h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a, ul, li, ol, p, p a { margin: 0;padding: 0; }\n  h1 { font-family:'Helvetica',Arial,sans-serif;font-weight:700;font-size:28px;color:#000000;line-height:1.75;padding-bottom:6px;padding-top:6px;mso-margin-top-alt:6px;mso-margin-bottom-alt:6px }\n  h2 { font-family:'Helvetica',Arial,sans-serif;font-weight:700;font-size:22px;color:#000000;line-height:1.5;padding-bottom:2px;padding-top:2px;mso-margin-top-alt:2px;mso-margin-bottom-alt:2px }\n  h3 { font-family:'Helvetica',Arial,sans-serif;font-weight:700;font-size:18px;color:#000000;line-height:1.25;padding-bottom:2px;padding-top:10px;mso-margin-top-alt:10px;mso-margin-bottom-alt:2px }\n  h4 { font-family:'Helvetica',Arial,sans-serif;font-weight:400;font-size:18px;color:#2A2A2A;line-height:1.125;padding-bottom:4px;padding-top:16px;mso-margin-top-alt:16px;mso-margin-bottom-alt:4px }\n  h5 { font-family:'Trebuchet MS','Lucida Grande',Tahoma,sans-serif;font-weight:400;font-size:16px;color:#2A2A2A;line-height:1;padding-bottom:2px;padding-top:10px;mso-margin-top-alt:10px;mso-margin-bottom-alt:2px }\n  h6 { font-family:'Trebuchet MS','Lucida Grande',Tahoma,sans-serif;font-weight:400;font-size:14px;color:#2A2A2A;line-height:0.875;padding-bottom:4px;padding-top:16px;mso-margin-top-alt:16px;mso-margin-bottom-alt:4px }\n  p { font-family:'Helvetica',Arial,sans-serif;font-weight:400;color:#000000;font-size:16px;line-height:1.5;padding-bottom:8px;padding-top:8px;mso-margin-top-alt:8px;mso-margin-bottom-alt:8px; }\n  p a, .e a, ul a, li a, .h a, .h2 a, .h3 a { word-break:break-word;color:#2c81e5 !important;text-decoration:underline;text-decoration-color:#2c81e5; }\n  p a span, .e a span, ul a span, li a span { color: inherit }\n  p .bold { font-weight:bold;color:#000000; }\n  p span[style*=\"font-size\"] { line-height: 1.6; }\n  .f p { font-size:12px;line-height:15px;color:#000000;padding:0; }\n  .f p a { color:#000000 !important; }\n  .g p { font-family:'Helvetica',Arial,sans-serif;font-size:14px;line-height:20px;font-weight:normal;margin:0; }\n  .g p a  { text-decoration: underline; }\n  .i p { font-family:'Helvetica',Arial,sans-serif;line-height:1.5;font-size:15px;color:#2D2D2D; }\n  .i p a { color:#2D2D2D !important; }\n  .i2 p { font-family:'Verdana',Geneva,sans-serif;line-height:1.5;font-size:15px;color:#2D2D2D; }\n  .i2 p a { color:#2D2D2D !important; }\n  .i3 p { font-family:'Helvetica',Arial,sans-serif;line-height:1.8;font-size:24px;color:#2D2D2D; }\n  .i3 p a { color:#2D2D2D !important; }\n  .h p a { color:#222222 !important; }\n  .h2 p a { color:#595959 !important; }\n  .h3 p a { color:#595959 !important; }\n  .f p a, .i p a, .i2 p a, .i3 p a, .h p a, .h2 p a, .h3 p a { text-decoration:underline; }\n  .j { border-top:1px Solid #222222; }\n  .k p { padding-left:15px;padding-bottom:0px;padding-top:6px;mso-margin-top-alt:6px;mso-margin-bottom-alt:0px;mso-margin-left-alt:15px; }\n  .o { background-color:#FFFFFF;border:1px solid #F1F1F1;border-radius:5px; }\n  .o p { font-family:'Helvetica',Arial,sans-serif;padding:0px;margin:0px; }\n  .l p,\n  .l p a { font-size:14px;line-height:20px;font-weight: bold;color:#2D2D2D;padding-bottom:6px;mso-margin-bottom-alt:6px;text-decoration:none; }\n  .m p,\n  .m p a { font-size:13px;line-height:18px;font-weight:400;color:#2D2D2D;padding-bottom:6px;mso-margin-bottom-alt:6px;text-decoration:none; }\n  .n p,\n  .n p a { font-size:12px;line-height:17px;font-weight:400;color:#2D2D2D;padding-bottom:6px;mso-margin-bottom-alt:6px;text-decoration:none; }\n  .p { background-color:#FFFFFF;max-width:520px;border:1px solid #E1E8ED;border:1px solid rgba(80, 80, 80, 0.3);border-radius:5px; }\n  .q { font-size:16px;font-family:Helvetica,Roboto,Calibri,sans-serif !important;border:1px solid #e1e8ed;border:1px solid rgba(80, 80, 80, 0.3);border-radius:10px;background-color:#FFFFFF; }\n  .q p { font-size:16px;font-family:system-ui,Helvetica,Roboto,Calibri,sans-serif !important;color:#222222;padding:4px 0; }\n  .r { border:1px solid #E1E8ED !important;border-radius:5px; }\n  .s p { font-size: 14px; line-height: 17px; font-weight: 400; color: #697882; text-decoration: none; }\n  .t p { font-family:'Helvetica',Arial,sans-serif;font-size:12px;line-height:1.5;font-weight:400;color:#000000;font-style:italic;padding:0px; }\n  .v { border-radius:10px;border:solid 0px #DFD150;background-color:#2C81E5;font-family:'Verdana',Geneva,sans-serif;color:#FFFFFF; }\n  .v a { text-decoration:none;display:block;color:#FFFFFF; }\n  .w p { font-size:12px;line-height:15px;font-weight:400;color:#222222; }\n  .w p a { text-decoration: underline !important;color:#222222 !important; }\n  ul { font-family:'Helvetica',Arial,sans-serif;margin:0px 0px 0px 25px !important;padding:0px !important;color:#2D2D2D;line-height:24px;list-style:disc;font-size:16px; }\n  ul > li { font-family:'Helvetica',Arial,sans-serif;margin:6px 0px 0px 0px !important;padding: 0px 0px 0px 0px !important; color: #2D2D2D; list-style:disc; }\n  ol { font-family:'Helvetica',Arial,sans-serif;margin: 0px 0px 0px 25px !important;padding:0px !important;color:#2D2D2D;line-height:24px;list-style:decimal;font-size:16px; }\n  ol > li { font-family:'Helvetica',Arial,sans-serif;margin:6px 0px 0px 0px !important;padding: 0px 0px 0px 0px !important; color: #2D2D2D; list-style:decimal; }\n  .e h3,\n  .e p,\n  .e span { padding-bottom:0px;padding-top:0px;mso-margin-top-alt:0px;mso-margin-bottom-alt:0px; }\n  .e span,\n  .e li { font-family:'Helvetica',Arial,sans-serif;font-size:16px;color:#000000;line-height:24px; }\n  .rec { font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\" !important; }\n  .rec__button:hover { background-color: #f9fafb !important; }\n  .copyright a {color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important;}\n  .txt_social p { padding: 0; word-break: break-all; }\n  .table, .table-c, .table-h { border: 1px solid #C0C0C0; }\n  .table-c { padding:5px; background-color:#f8fbff; }\n  .table-c p { color: #2D2D2D; font-family:'Helvetica',Arial,sans-serif !important;overflow-wrap: break-word; }\n  .table-h { padding:5px; background-color:#F1F1F1; }\n  .table-h p { color: #2A2A2A; font-family:'Trebuchet MS','Lucida Grande',Tahoma,sans-serif !important;overflow-wrap: break-word; }\n  @media only screen and (max-width:667px) {\n    .aa { width: 100% !important; }\n    .bb img { width: 100% !important; height: auto !important; max-width: none !important; }\n    .cc { padding: 0px 8px !important; }\n    .ee { padding-top:10px !important;padding-bottom:10px !important; }\n    .ff ul, .ff ol { margin: 0px 0px 0px 10px !important;padding: 0px !important; }\n    .ff li { margin:6px 0px 0px 10px !important; }\n    .r {height:140px !important;}\n    .s p { font-size:13px !important;line-height:15px !important; }\n    .mob-hide {display:none !important;}\n    .mob-stack {display:block !important;width:100% !important;}\n    .mob-w-full {width:100% !important;}\n    .mob-block {display:block !important;}\n    .embed-img {padding:0px 0px 12px 0px !important;}\n    .socialShare {padding-top:15px !important;}\n    .rec { padding-left:15px!important;padding-right:15px!important; }\n    .bodyWrapper { padding:4px 4px 4px 4px !important; }\n    .social-mobile {float:left !important;margin-top:10px !important;}\n  }\n  @media screen and (max-width: 480px) {\n    u + .a .gg { width: 100% !important; width: 100vw !important; }\n    .tok-heart { padding-top:75% !important; }\n    .tok-play { padding-top: 250px !important; }\n  }\n  @media screen and (max-width: 320px) {\n    .tok-heart { padding-top:65% !important; }\n  }\n  .u { border: 1px solid #CACACA !important; border-radius: 2px !important; background-color: #ffffff !important; padding: 0px 13px 0px 13px !important; font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,\"Noto Sans\",sans-serif !important;font-size: 12px !important; color: #767676 !important; }\n  .u a { text-decoration: none; display: block !important; color: #767676 !important; margin: 0px !important; }\n  .u span, .u img { color: #767676 !important;margin:0px !important; max-height:32px !important;background-color:#ffffff !important; }\n</style><!--[if mso]><style type=\"text/css\">\n    h1, h2, h3, h4, h5, h6 {font-family: Arial, sans-serif !important;}\n    body, table, td, p, a, span {font-family: Arial, sans-serif !important;}\n    sup { font-size: 100% !important;vertical-align: .5em !important;mso-text-raise: -1.5% !important;line-height: 0 !important; }\n    ul { margin-left:0px !important; margin-right:10px !important; margin-top:20px !important; margin-bottom:20px !important; }\n    ul li { margin-left: 0px !important; mso-special-format: decimal; }\n    ol { margin-left:0px !important; margin-right:10px !important; margin-top:20px !important; margin-bottom:20px !important; }\n    ol li { margin-left: 0px !important; mso-special-format: decimal; }\n    li.listItem { margin-left:15px !important; margin-top:0px !important; }\n    .paddingDesktop { padding: 10px 0 !important; }\n    .edm_outlooklist { margin-left: -20px !important; }\n    .embedImage { display:none !important; }\n</style><![endif]--><style></style></head><body class=\"a\" style=\"margin:0px auto;padding:0px;word-wrap:normal;word-spacing:normal;background-color:#ffffff;\"><div role=\"article\" aria-roledescription=\"email\" aria-label=\"email_name\" lang=\"en\" style=\"font-size:1rem\"><div style=\"display:none;max-height:0px;overflow:hidden;\"> ALSO: How to use an AI intern to create presentations &#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204;&#160;&#8204; </div><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" align=\"center\" cellpadding=\"0\" class=\"gg\"><tr><td align=\"center\" valign=\"top\"><table role=\"none\" width=\"670\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" class=\"aa\" style=\"width:670px;table-layout:fixed;\"><tr><td class=\"bodyWrapper\" align=\"center\" valign=\"top\" style=\"padding:4px 2px 4px 2px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr><td align=\"center\" valign=\"top\" style=\"border-width:0px 0px 0px 0px;border-style: solid; border-color: #ffffff;border-radius:10px 10px 0px 0px;background-color:#ffffff;\" class=\"c\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr id=\"header\"><td style=\"padding:14px 14px 0px 14px;\"><div style=\"padding-top:0px;padding-right:0px;padding-bottom:20px;padding-left:0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr><td class=\"f\" align=\"right\" valign=\"top\"><p> July 11, 2025 &nbsp; | &nbsp; <a href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgH-qigySh3hAoVuoVNaPnGWVtfLecwuLEHXO5d9u4HM59Wso6sl5IUdwXG1gyX7_NXzvzwJZVaR72LghUgehCONUd_4erZLNdyOgRejh5PV1zaL900hzp-56DsEOlGOrVB5WGEd1ubuXZs-4GCpy977ry7_NwsjcjPXXtOwiCsqMRCkse31y7jGnurXCEeV3yezDPUpme1eWpbv3uJD_mESlO6UkMywpfGcfUDpcaVekL2K4kkvcB6eJIEXtjx3HmZrfhGHzej7c2RI1tK-GTUu3azf9uvJygoy5U51TQ34IO0BVQSnUuScQ4Hc5l3dPSnjOwAzo21BaydyPyoywNY2XwL1-MMKgJKyeHsi0-BtA9AofnwWMJmOlKOZkurbyGJ5N1Cq64kajH7zoKa_itotK8SI-HeTaAYhnsAbPyM2o2JAVZyd8NMp-csfAlygXKj6oN6CPZFUrqod-aU2i_4ZcvPJDFNumGzOxj7a7ZKXac6mCsbuTzwi64C6RhhQW5gPmgKbcLrQUnWHBaxCIAT1IGV3cV33Q57TJHsREQ2Ovng69DLHFlDsq0T0MwCPiYgABlJHCCf6Wm5gfzPdukIVnMVBt5dP-t5LkNz9QCHf6KqNMT6G1EvDt9ofK_1jdYv-oJc3UbJB7NXsD7ueVAwRutx_gRFrDiUP-Mxf0bJaUX-K2JTKqRM9PPGfP2ibUUlTyMOUs_8m3Msoe0iDR5gYAQaJu1YdAugWAqznt8f_aCFVEkuyxtlDcMZ-Y67igavJt1AtRmX_rAxUzZbmmqgg/4i3/r6ZL6jryThC20Sg42l8Hlw/h0/h001.GNu_dnh_WwbAEZ7fNT07Pj7tntZ8BaB_aJZlUfBCDDM\">Listen Online</a> &nbsp; | &nbsp; <a href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgH-qigySh3hAoVuoVNaPnGWVtfLecwuLEHXO5d9u4HM59Wso6sl5IUdwXG1gyX7_NXzvzwJZVaR72LghUgehCONUd_4erZLNdyOgRejh5PV1zaL900hzp-56DsEOlGOrVB5WGEd1ubuXZs-4GCpy977ry7_NwsjcjPXXtOwiCsqMIn-CF8MaJAAtglbpVdFvFdRlaIW9JixvxJBaZaw0PhKWIZF5Vh_FyrchYl3z6-9t0ojOsZ-f_LWV9Bfu4KyAlvidjhEi1VkUp-ud4ah76wN-JwfHTWIRMIi-cabcU7rYgYhs8DF9DUJir0g729w5fMt26rjGEyxMLWKJsktMZlwyFl6evLuckJ9It1XJSQ8MdElQOZpDA-22as-XDQB_y57Qj9oWMYUwjy5bC0lW_GzowjVoL7-anBU0dNOAKmYutnQN6KY22MVtemPUl4FZrQLYCUcryEKOrMjAjl8GZCK_Qr3HzQ9u64hp-q56NebW-NSSZ4WdyQzA8Tt5XwLFYjITuwfXJijT7SL_69tOE5wL_HBzJKnyN3jTchIsMa5-UuyQeEwVB_NSJOnegGempKyxoTVb1x1IG7J8WaJBlZiGkhilzgV-Xys2KzFz27yFqyI7d9q3IMoxX8dr3JFnITtvo9IAbBroRi_ShGTkuFjVAJFUrHr9pd4oFmGUxNATLKn4U0gGwcMDx-4WUxA2ZLXCDNcxwAcYexWDxu3fbONr-3k-Reisg1JXonBvbvYgVkKnXihqz8Ra2MF07Btctw/4i3/r6ZL6jryThC20Sg42l8Hlw/h1/h001.ApIMTaWUmfGMVA7zqao-gRfbPMHO0WMVdBFU5by0Kqw\">Read Online</a></p></td></tr><tr><td style=\"height:0px;width:0px;\"><div style=\"height:1px;\" data-open-tracking=\"true\"> <img src=\"https://link.mail.beehiiv.com/ss/o/u001.99ALhGu-n_c9NVaZfZbSjQ/4i3/r6ZL6jryThC20Sg42l8Hlw/ho.gif\" alt=\"\" width=\"1\" height=\"1\" border=\"0\" style=\"height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;\"/> </div></td></tr></table></div></td></tr><tr id=\"content-blocks\"><td class=\"email-card-body\" align=\"center\" valign=\"top\" style=\"padding-bottom:14px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"\"><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td><td bgcolor=\"transparent\" style=\"background-color:transparent;border-color:#222222;border-radius:10px;border-style:solid;border-width:1px;padding:0.0px 0.0px 0.0px 0.0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr><tr><td align=\"center\" valign=\"top\" style=\"padding-bottom:8px;padding-left:14px;padding-right:14px;padding-top:8px; \" class=\"dd\"><table role=\"none\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0 auto 0 auto;\"><tr><td align=\"center\" valign=\"top\" style=\"width:630px;\"><img src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/a4febcad-cb01-4bf5-9ce9-8eaaad3c147d/image.png?t=1751534988\" alt=\"\" height=\"auto\" width=\"630\" style=\"display:block;width:100%;\" border=\"0\"/></td></tr></table></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>Welcome back, Superhuman. </b></span><span style=\"\">How is it that AI can solve PhD-level math and science problems, but still trips over even the most </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgB2kjqHXMADK5zI4B0poN6jFwXx5MdWMVGrkPJiojddJSBtzj8HS9rBkgoQCAGv41-OR8jULXa4JFL41teNA5z62xCL_8kskcxAl4VJdsYtWihbYAefKj8noiAmh0ng8zdcJ10JX443Gn2BeGfgHufMlNIbf9frm68JjQ0jWUxCJX9nTjDanj0vm61Xc5-9Ukb46F3nDshZ6QAIMHdddhCxZ5HMQ3KNraQ7eUvvSbliF08CHxyyDnz_yDewjVAP3q2Vt7CJOQF7NXP1xcxUhglM/4i3/r6ZL6jryThC20Sg42l8Hlw/h2/h001.3zOvuwZvY34xxIW3BVfpYQgiPq5h0sm9VDC5Gweaszw\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>basic questions</span></a></span><span style=\"\">? As Grok 4 breaks new ground on performance benchmarks, I’m reminded of just how much of AI’s “thoughts” remain a total mystery.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>Today:</b></span><span style=\"\"> </span><span style=\"\">Learn how to use an AI intern to create presentations, and get the latest prompts, headlines, and trending social posts.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr></table></td><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"\"><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td><td bgcolor=\"transparent\" style=\"background-color:transparent;border-color:#222222;border-radius:10px;border-style:solid;border-width:1px;padding:0.0px 0.0px 0.0px 0.0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#2A2A2A;font-weight:normal;padding:0px 14px;text-align:left;\"><h5 style=\"color:#2A2A2A;font-weight:normal;mso-line-height-alt:100.0%;\"><span style=\"color:rgb(0, 189, 82);font-family:Garamond,Baskerville,'Times New Roman',serif;\"><b>TODAY IN AI</b></span></h5></td></tr><tr><td align=\"center\" valign=\"top\" style=\"padding-bottom:8px;padding-left:14px;padding-right:14px;padding-top:8px; \" class=\"dd\"><table role=\"none\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0 auto 0 auto;\"><tr><td align=\"center\" valign=\"top\" style=\"width:630px;\"><img src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/9515636a-d190-4acf-a92b-7173c179936e/Getty_Image_2207699717.jpg?t=1752230973\" alt=\"\" height=\"auto\" width=\"630\" style=\"display:block;width:100%;\" border=\"0\"/></td></tr><tr><td align=\"left\" valign=\"top\" class=\"t\" style=\"width:630px; padding: 4px 0px 4px 0px;\"><p><span style=\"\">Source: Getty Images</span></p></td></tr></table></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>1.</b></span><span style=\"\"> </span><span style=\"\"><b>The world reacts to Grok 4: </b></span><span style=\"\">Epic Games CEO Tim Sweeney has </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.LDkxbMa7NCxUGG7E2Yh3AErP2aklW1AznpA8aKL8PLoM8TRCPpM8sCh0EUTszMvAXODmogSswMxmFuc9r1laGF7pMIvpGxqncUXUs8HMKHoLhLOvlodE90DVZ41s3ZzoVZaIf0PdrrHsaN-7MEX8JadlsFQPRGSNaG9AoNZbnTmLQuGTm-DTw-oKX6TyxhLP_gnsvO5NS6CF5o4PO9GBFZPzVS-cdm9ixjEhsGxH_d3W_cH9rVrB-BCON_fqXMlp/4i3/r6ZL6jryThC20Sg42l8Hlw/h3/h001.mndsyR6vWaPmJXK2ncIi8b38dT8ymlthXNnrlwCWf7E\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>seen enough</span></a></span><span style=\"\">. He says xAI’s new frontier model might as well be AGI, considering it can generate “fairly deep insights on problems it hasn’t seen before.” Indeed, Grok 4 is </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.LDkxbMa7NCxUGG7E2Yh3AECy7d5pLy_JUyNTHUUz4dvsCvmNGQgfo97Kbko96qSsGS2I1g75jG_iZtdKRN96LBtbgkjW1-eszhMXJYJ_w-yti0jbXoQF9dvgoDtKz37nUz-Ue6D0arNwh2_F_lEZ7_ZZZzzBeYbnoen8pnUTnFKXEUmhyhbgIGSiWZZtzXhgYm3fDGB2tup4MVu7JAqi1HECNp-xMHlktk-HUq_TvGg_8tfd6i-AzgHbb1sF-TgY/4i3/r6ZL6jryThC20Sg42l8Hlw/h4/h001.HQTk2FhgzuqzFrRWB5saql0cvgVYmAm7xCEieubLYjU\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>crushing</span></a></span><span style=\"\"> difficult benchmarks, including ARC-AGI-2, a test built specifically to trip up LLMs. Of course, there’s </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.LDkxbMa7NCxUGG7E2Yh3ACzY1urnzz4Ia4w1k5_O2wtVjlVffcp5If2hOrxvSh94Qm17s8ypMDNqqQWctmzaqdC0GJP5BtKoz0cgRMukUZpZPXyHGhG4nk0dREYUcl9j15sUxkhFMaqfC5f1s7Aj-Jp6wbBmTH5DQvEf5eJQI3oZ0RdkerASPVCIho7scyMaNFv5El0xNHxX5-V_EbBEHT-iLeZopP_J5qJTJbHPTSXBDLSUKmHkMeCX1i_EyBHA/4i3/r6ZL6jryThC20Sg42l8Hlw/h5/h001.kt39yYhi8zi3LYagUt4jQnNyo3EetlDYjQNJMXpc8dU\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>a lot more</span></a></span><span style=\"\"> that goes into a startup’s success than the sheer power of its model. But at the very least, the results seem to suggest that AI is still progressing at a remarkable pace. </span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>2.</b></span><span style=\"\"> </span><span style=\"\"><b>Startup raises $100M to build superhuman math model: </b></span><span style=\"\">Harmonic AI just </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgKYVfGMrcfM77KwXMAeUxEzAgsBftEROZjc_9XYRTEFFj2vybbYsKl8s7FQpEdOmJJFG8nXHTZT20ynoVeC8vT9zp5WUpKG0GlWEuFD_mgVd4ktaqRWhGfaobOwMqpG81X16mA53UAWEbOMAUbdHITAD8StHpjZ4qmpq7z0pAPEY0DjG-m59TnfKe7LEohKPmFL1bWPK9g-jrPF4r6j35SOX6ixEhIRkBuRvL32fyVxzMMyw1TxjDTIRydzbB1YlO4WamFZXSzcHILMHahu3zXxYcQwi993BQJM0UQ_xd0WoOTnWDksIXY3gyr0LlOxCfgSrszvbjGaiCP63yq_uBzIF5R7e_aNxKkrhStY0VFgq_f19rR8v_TTSaWIk94VG-Q/4i3/r6ZL6jryThC20Sg42l8Hlw/h6/h001.ZRN_CCs_l5eg40n94YLvPNrI1liH5OscGZ3MQMbEE-s\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>landed</span></a></span><span style=\"\"> $100M in a Series B round, sending its valuation soaring to $875M. Vlad Tenev, the CEO of financial exchange Robinhood, co-founded the company in 2023 with the goal of building a model that can find solutions to math problems that no human has been able to solve. Harmonic plans to make its Aristotle model available later this year. Unlike traditional LLMs, it uses a special verification process to cut down on hallucinations.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>3.</b></span><span style=\"\"> </span><span style=\"\"><b>Amazon set to unveil one-stop shop for AI agents next week:</b></span><span style=\"\"> Amazon Web Services is set to launch an AI agent marketplace next week with Anthropic as a key partner, according to </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.cbTlTBbOm0oxrOJrFZNEqfj95L9dhJLTAddWNh9iMDXhxCWejIgpKCQeKuD9i_NVqOdJIg89IYZ8xS_asCnpwwNTg_ptK2OOMYpf0br21hvh14ZTAgXN2b-NL_u8IOuQ9W9ETyDUtdqtncb2gEoHhko2Oxgr-yxH5kiWqK_iWqJ1_MBrGxeKCIUaxEuyvxpjrXwCB2hw23zY7YksK3Zt1_ObSBHRDvVOJGg_U2xt94emGO3pcAX2XmXcJ-iiXygV7qnC3JLI-BM18PEbul6rMfLuzyY7R7Sf5FIVgTuPhmfdKtU4q0sOEGNiFwnNddJgyU21AWU7XtfpzGlxD4MbGw/4i3/r6ZL6jryThC20Sg42l8Hlw/h7/h001.lhyMQQ-u7pzMwYixH2qUVLwAU-d1LLYaagfUj3Qgr9Y\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>TechCrunch</span></a></span><span style=\"\">. The marketplace will reportedly allow startups to directly offer their AI tools to AWS&#39;s large customer base.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr></table></td><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"\"><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td><td bgcolor=\"transparent\" style=\"background-color:transparent;border-color:rgb(0, 189, 82);border-radius:10px;border-style:solid;border-width:1px;padding:0.0px 0.0px 0.0px 0.0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#2A2A2A;font-weight:normal;padding:0px 14px;text-align:left;\"><h5 style=\"color:#2A2A2A;font-weight:normal;mso-line-height-alt:100.0%;\"><span style=\"color:rgb(0, 189, 82);font-family:Alegreya Sans, Georgia, serif;\"><b>PRESENTED BY VANTA</b></span></h5></td></tr><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#000000;font-weight:Bold;padding:0px 14px;text-align:left;\"><h2 style=\"color:#000000;font-weight:Bold;mso-line-height-alt:150.0%;\"><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgBR1S6eU6N-bTD4fnwqjhSaOJZfQrq4F7hvHCK_S5kvn99Q4vBnMXMQ4G7I6HYM5YxtUjKMfvATqFtZad9j2bbqgkCvjU8bKZsXy0CA_F3pQzQ43h7TkzFYlOOfCTkwHQjlp7qu5zu_hTEKm88C-aO8uA_IG-AAaQAmj5zqQjCDJkr_D-OkjbdnHZ2wBiIu_rA/4i3/r6ZL6jryThC20Sg42l8Hlw/h8/h001.pfODndaKNBawUQIhYAU0iI3BbZeMALTy8TTpwlteuks\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Building with AI demands speed. Selling AI demands trust.</span></a></span></h2></td></tr><tr><td align=\"center\" valign=\"top\" style=\"padding-bottom:8px;padding-left:14px;padding-right:14px;padding-top:8px; \" class=\"dd\"><table role=\"none\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0 auto 0 auto;\"><tr><td align=\"center\" valign=\"top\" style=\"width:630px;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgBR1S6eU6N-bTD4fnwqjhSaOJZfQrq4F7hvHCK_S5kvn99Q4vBnMXMQ4G7I6HYM5YxtUjKMfvATqFtZad9j2bbqgkCvjU8bKZsXy0CA_F3pQzQ43h7TkzFYlOOfCTkwHQlH92wwuQb-vaF6Ekr-jkAQ6VWnSbKAcslKzm__WszULQrEJiXroEXOUAY8fFz33yg/4i3/r6ZL6jryThC20Sg42l8Hlw/h9/h001.Dap_lM01PkWsaYpuqYRNTkebu5dCgs7xuIGtYb3Jnoo\" rel=\"noopener noreferrer nofollow\" style=\"text-decoration:none;\" target=\"_blank\"><img src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/949f55cc-5a2c-418c-ad17-8e7c8965feb1/VFS_BOFU_Showcase_1200x628_-_Mary_Almada.jpg?t=1752164081\" alt=\"\" height=\"auto\" width=\"630\" style=\"display:block;width:100%;\" border=\"0\"/></a></td></tr></table></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\">As an AI founder, you’re used to sprinting—toward product-market fit, your next round, or that first enterprise contract.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\">But speed isn’t enough for AI startups. Buyers expect security, compliance, and transparency—from day one.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\">That’s why serious </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgBR1S6eU6N-bTD4fnwqjhSaOJZfQrq4F7hvHCK_S5kvn99Q4vBnMXMQ4G7I6HYM5YxtUjKMfvATqFtZad9j2bbqgkCvjU8bKZsXy0CA_F3pQzQ43h7TkzFYlOOfCTkwHQsVju8m0VHgeoq84EtK87NtKrVnfK3CYhAlzGQVmJD6URCIpEC0OrulsHKkgdEVe9w/4i3/r6ZL6jryThC20Sg42l8Hlw/h10/h001.kOJ-Zo6UVZqq-nMTpcW2kyO3Ji7udybLTV-utQoOAAk\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>AI startups use Vanta.</span></a></span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\">With deep integrations and automated workflows built for fast-moving AI teams, Vanta gets you audit-ready fast—and keeps you secure with continuous monitoring as your models, infra, and customers evolve.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\">AI innovators like LangChain, Writer, and Cursor scaled faster and closed bigger deals by </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgBR1S6eU6N-bTD4fnwqjhSaOJZfQrq4F7hvHCK_S5kvn99Q4vBnMXMQ4G7I6HYM5YxtUjKMfvATqFtZad9j2bbqgkCvjU8bKZsXy0CA_F3pQzQ43h7TkzFYlOOfCTkwHQlH38anS7Pxg6NzYYCrsQnxA5vWYfrwDiYpZx3nPaJDb9s85C5As0XRQvNzf7cE94g/4i3/r6ZL6jryThC20Sg42l8Hlw/h11/h001.K70bQpMD3dqjvdpqaKdhBQjZ5yQaU5h_2sAQm58N0Ns\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>getting security right early with Vanta</span></a></span><span style=\"\">.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\">Get compliant at AI-speed with Vanta. </span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgBR1S6eU6N-bTD4fnwqjhSaOJZfQrq4F7hvHCK_S5kvn99Q4vBnMXMQ4G7I6HYM5YxtUjKMfvATqFtZad9j2bbqgkCvjU8bKZsXy0CA_F3pQzQ43h7TkzFYlOOfCTkwHQsHwjNEfHlUkgYvQoNT9k3sysh3IlLPqlisZtoOzKoZbGAB778viXTQg9IN9q2axJg/4i3/r6ZL6jryThC20Sg42l8Hlw/h12/h001.8oPcVT0BMdWfKUnZpBNX16m_UuP608xXGRcJEIiV00E\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span><b>Claim a special offer of $1,000 off when you book a demo today.</b></span></a></span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr></table></td><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"\"><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td><td bgcolor=\"transparent\" style=\"background-color:transparent;border-color:#222222;border-radius:10px;border-style:solid;border-width:1px;padding:0.0px 0.0px 0.0px 0.0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#2A2A2A;font-weight:normal;padding:0px 14px;text-align:left;\"><h5 style=\"color:#2A2A2A;font-weight:normal;mso-line-height-alt:100.0%;\"><span style=\"color:rgb(0, 189, 82);font-family:Alegreya Sans, Georgia, serif;\"><b>FROM THE FRONTIER</b></span></h5></td></tr><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#000000;font-weight:Bold;padding:0px 14px;text-align:left;\"><h2 style=\"color:#000000;font-weight:Bold;mso-line-height-alt:150.0%;\"><span style=\"\">Where do we draw the line with AI-generated videos?</span></h2></td></tr><tr><td align=\"center\" valign=\"top\" style=\"padding-bottom:8px;padding-left:14px;padding-right:14px;padding-top:8px; \" class=\"dd\"><table role=\"none\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0 auto 0 auto;\"><tr><td align=\"center\" valign=\"top\" style=\"width:630px;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.LDkxbMa7NCxUGG7E2Yh3APpadzqwied9o7SZu3SUQaM1B3Kr4hLsYY5njITKaG-ZHRIINDStsElhcti_WhhrlCl6MudHF5b8BrASCQeeMlzSHg-DcBViTvPK3-tJmPejls27fqOzkbVDiiJYNoFCMuQtf8rSZhLCGs9_xscBdnERJmDz8Tmeh51Gfb-lN9OYUa3bTdymVf5VwOK6mALy0o5nin1NebswxKVKD_x2Rf1En0DAAdJM2323I_gElaSY/4i3/r6ZL6jryThC20Sg42l8Hlw/h13/h001.sR5KmXhQgzJ7nWMy5V6AmR9bCoUrsjPnOReYWrD1iLA\" rel=\"noopener noreferrer nofollow\" style=\"text-decoration:none;\" target=\"_blank\"><img src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/d016347e-0eeb-4640-9c41-7e1f2e68a648/Untitled_design_-_2025-07-10T200047.493__1_.jpg?t=1752192075\" alt=\"\" height=\"auto\" width=\"630\" style=\"display:block;width:100%;\" border=\"0\"/></a></td></tr><tr><td align=\"left\" valign=\"top\" class=\"t\" style=\"width:630px; padding: 4px 0px 4px 0px;\"><p><span style=\"\">Click to watch PJ Ace’s latest AI-generated creation. Source: PJ Ace/Popeye’s</span></p></td></tr></table></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>PJ Ace is at it again.</b></span><span style=\"\"> The self-proclaimed AI filmmaker just followed up last month’s viral Kalshi commercial with a </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.LDkxbMa7NCxUGG7E2Yh3APpadzqwied9o7SZu3SUQaM1B3Kr4hLsYY5njITKaG-ZHRIINDStsElhcti_WhhrlCl6MudHF5b8BrASCQeeMlzSHg-DcBViTvPK3-tJmPejls27fqOzkbVDiiJYNoFCMuQtf8rSZhLCGs9_xscBdnERJmDz8Tmeh51Gfb-lN9OY0w6RI6hiozE36SD-T1IoMvg_GmhtkgB06NjiHk8Jw7idSmY3uoGlPuA9qrMy_tRI/4i3/r6ZL6jryThC20Sg42l8Hlw/h14/h001.XFhl3DuZjgo-yZ9REg4ShNL14eafVxtUklB6vLtRj7I\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>video</span></a></span><span style=\"\"> for an even bigger client: Popeyes. The fast food chain turned to Ace for help producing an AI-assisted diss track and video to coincide with the return of the McDonald’s Snack Wrap. But this is far from the only sign that AI-generated videos are becoming impossible to ignore.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>Here are some other recent examples:</b></span></p></td></tr><tr><td style=\"padding-bottom:4px;padding-left:14px;padding-right:18px;padding-top:4px;\" class=\"ee\"><div style=\"margin-left:0px;\" class=\"edm_outlooklist\"><ul style=\"font-weight:normal;list-style-type:disc;margin-bottom:12px !important;margin-top:12px !important;padding:0px 0px 0px 0px;\"><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">Ace is making waves for a follow-up to the zany spot he helped create for Kalshi last month. This one, which was made in just a week, is a montage of historical events where the underdogs end up on top. (Here’s a full </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.LDkxbMa7NCxUGG7E2Yh3APpadzqwied9o7SZu3SUQaPV41D5cNCQ3e271R3IadlgsRnFsixH-VQ2ihNLTn0UXDQlbjjUoac4QxMtTBi8TW0RzRGkajQEN4wArivab8nbyUqazuUPn7bmx8bRmbfbbGEXz1vwc24i5uzDWZob25MUAd-cX1yXf8kkH_ZqVxuSV-jkb2yFGTntBrpg2NMb0lCmoaCi4dXvTRVGBJLd1SQeRZPJ4q-osV9A8MgbCaS-/4i3/r6ZL6jryThC20Sg42l8Hlw/h15/h001.TvbCMGIk3uuzeOvIkVVixRriQt4tz0fEiJTp7s-tJbo\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>breakdown</span></a></span><span style=\"\"> of how it was made.)</span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">An AI-assisted short film about human cloning is </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgB2kjqHXMADK5zI4B0poN6jFwXx5MdWMVGrkPJiojddJMVxa3EpEqPnWHFV-kCATlqheXhVg4g5Wi32P4_LPpt64z9N1BFitkxE5hEdvTr1KPXGZrTUNIUjZ7lKugkmYdI-9Cbshe3Z3LAeI9oNAb3E2DCQlD1OEH88cmOwOe9ZdsybwZk9Db-9mSx8hH4i79L05ZT0U6QkysHh-_e-LE-3aSJ7TwOfq5Ig9dU-lOwh2i_jEqpWPzsKrh18EKoECgN70pVfu7we4u0HvV93PnTFBeq5IfUqaoxgOgvoDhWsN/4i3/r6ZL6jryThC20Sg42l8Hlw/h16/h001.EeP6JRuP0vtJt0wo0qn_0sjeYlX3TMc_hxp3skww0cc\" target=\"_blank\" rel=\"noopener noreferrer nofollow\" style=\"text-decoration-color: inherit;\"><span style=\"color: inherit;\">blowing up</span></a></span><span style=\"\"> on Reddit, with the creator claiming they made it with just 600 prompts, 12 days, and a $500 budget. “Homie just prompted a Black Mirror episode,” one commenter wrote.</span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">An AI-generated </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgMPwWMPVux3uPCZWLI0WG2VMSG9Rw4bLwGextPL1J89jqonrZxMBE5thYyc2bES0UnkwkeTLjyP_MiRbSu7WfcgMmYpgo92eEzKMf5xyp9B2ibHVVXHDuJkDga4izzURjUeGDDUFU_QWpZQTU1qV9c50QmGHqS7nzCwirDmHfGfUL9req1MHOmQsbL1wVgFDe3JbdTyFASXMF00m5jIR3muCQtDCYXStSXjmLeyRXA2s/4i3/r6ZL6jryThC20Sg42l8Hlw/h17/h001.1WzVUoQ87wrtVSDQ_MIB7xx5VQqkUi8Pedk3IBS8W18\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>YouTube Short</span></a></span><span style=\"\"> depicting a baby piloting a jumbo jet supposedly soared to the top of the charts last week, garnering more than 100M views.</span></p></li></ul></div></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>Social media platforms are struggling to keep up: </b></span><span style=\"\">For its part, YouTube has moved to </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.cbTlTBbOm0oxrOJrFZNEqfj95L9dhJLTAddWNh9iMDVMcPFqRx1YQ_4ofIIZP0riAsLBPpT7k-kmARI3m2JSm9fYgZFoPWWRFYz2tXeSTfn6uozYA9V_t_nDPeFm2eoAHH55uxFOrVGE5LQ4U6bFOREzJPXLniLFsIbAoOJPtPrrpYbttbmd5UuVN1z8Gcrda7WniV1Fp1ZYkP6rX-irgG6k6-JRfMIzk81gwMyJ2fn23-XvziL7IAMw3hASibvBxW495DOBDVfexYPE0j09EgJVXVskIAWLmqT8btYDEGW4RwcFbjlt8AWv5tkl2v_U0DhxNvgon82o4lBcCkdVWFZXl43z-M4jMr3K1U285_Q/4i3/r6ZL6jryThC20Sg42l8Hlw/h18/h001.4xs-xEReLZmKxaYXII1OEmdGVxWvCpqXaiQAxSx2glw\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>demonetize</span></a></span><span style=\"\"> AI-generated spam and other “mass-produced” and “inauthentic” content. (Sorry, baby pilot.) But it’s not perfect: Some creators have discovered their real-life videos inadvertently getting labeled as AI fakes.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>Not to mention, </b></span><span style=\"\">these days, the best AI filmmakers tend to use a combination of AI and human-made tools and scripts. Even seasoned filmmakers are relying on AI for help with speeding up their edits or making subtle changes to shots. Do you label every video that AI touches as AI-generated? There’s a </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgBTmdSYynCAm-96EzrcMOO7bJxhB3HhyhZcKiweAz-Z9H6EV2OdOcbtVp0OTMRXseN7K_Zo2nDFKIgQY1_HXO59rsL59gBmWgDTn5VealotTRN7UFXJ7YkKPH-3PoeB1j6d2hUVdtBqQ9XpaoJq74OZRlAb1B9R38-6D60lmqfYU6JV4dX5YLH4AAwyoLSL6rl7yrB_8h7ut7BMmX3V5_ulQlooMlyUo-06xuJ-8VPqUNnCvKlOs8V8Tyzf_WqG6w8Bnm9MYASSc7b4MLIGuUM_zRBXzU7OBxKsr4gcmFPoDqiQFZEjdvnxaR_Q6wP7JbguRU1FfXyCLYZe-ZQopJms6Ii1OTtNzShyyeLuz5sLf/4i3/r6ZL6jryThC20Sg42l8Hlw/h19/h001.kHhI0Nihq_WyuU-o1_Zq9lo18OuZG1y-wosIkhdYwQQ\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>fine line</span></a></span><span style=\"\"> here, and it’s only going to get trickier as AI becomes a bigger part of our lives.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr></table></td><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"\"><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td><td bgcolor=\"transparent\" style=\"background-color:transparent;border-color:#222222;border-radius:10px;border-style:solid;border-width:1px;padding:0.0px 0.0px 0.0px 0.0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#2A2A2A;font-weight:normal;padding:0px 14px;text-align:left;\"><h5 style=\"color:#2A2A2A;font-weight:normal;mso-line-height-alt:100.0%;\"><span style=\"color:rgb(0, 189, 82);font-family:Garamond,Baskerville,'Times New Roman',serif;\"><b>THE AI ACADEMY</b></span></h5></td></tr><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#000000;font-weight:Bold;padding:0px 14px;text-align:left;\"><h2 style=\"color:#000000;font-weight:Bold;mso-line-height-alt:150.0%;\"><span style=\"font-weight:600;\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.-FSEldgqQ7OeNkS-DxvZTcWWJuccIFcOczoDV1QsBrmCakEGMIXY-pDKm2EWV9sk2xHwZb929S7gVB9W79zsEkaqzRR-AWc5a_cLyrBs3cPy9DAlfGo85M53MkBJ9M89bVVrkPrInm9uiFFTMgDwv4UqIvrR59qqLxtHT__jmNjEHj6if6T1FsXzpR569zsy9zpbJ9_I0KqE-ujiCaQhrRnIiJlFtilfGE04VoG1bzM/4i3/r6ZL6jryThC20Sg42l8Hlw/h20/h001.C-FYaLcw5ELw9yPUaSF2BCXV3vrZQC3y7oNkRTeYXec\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span><b>How to use an AI intern to create presentations for you</b></span></a></span></h2></td></tr><tr><td align=\"center\" valign=\"top\" style=\"padding-bottom:8px;padding-left:14px;padding-right:14px;padding-top:8px; \" class=\"dd\"><table role=\"none\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0 auto 0 auto;\"><tr><td align=\"center\" valign=\"top\" style=\"width:630px;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.-FSEldgqQ7OeNkS-DxvZTcWWJuccIFcOczoDV1QsBrmCakEGMIXY-pDKm2EWV9sk2xHwZb929S7gVB9W79zsEkaqzRR-AWc5a_cLyrBs3cPy9DAlfGo85M53MkBJ9M89bVVrkPrInm9uiFFTMgDwv4UqIvrR59qqLxtHT__jmNiNVJ4UHw5oyBFfWMe-9M7bI2thjsGN_ygb96FQ8c4NKdbA8n_6Sb4FZbIJ8mLcxWo/4i3/r6ZL6jryThC20Sg42l8Hlw/h21/h001.GnomySJua35JrhgaEwW7Au7Km7lt0IjJM3mBfMM1hbk\" rel=\"noopener noreferrer nofollow\" style=\"text-decoration:none;\" target=\"_blank\"><img src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/1b296245-e123-4267-903a-9489af98d42c/Figma_Group_1000004549__2_.jpg?t=1752220446\" alt=\"\" height=\"auto\" width=\"630\" style=\"display:block;width:100%;\" border=\"0\"/></a></td></tr></table></td></tr><tr><td style=\"padding-bottom:4px;padding-left:14px;padding-right:18px;padding-top:4px;\" class=\"ee\"><div style=\"margin-left:0px;\" class=\"edm_outlooklist\"><ul style=\"font-weight:normal;list-style-type:disc;margin-bottom:12px !important;margin-top:12px !important;padding:0px 0px 0px 0px;\"><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.-FSEldgqQ7OeNkS-DxvZTcWWJuccIFcOczoDV1QsBrmCakEGMIXY-pDKm2EWV9sk2xHwZb929S7gVB9W79zsEkaqzRR-AWc5a_cLyrBs3cPy9DAlfGo85M53MkBJ9M89bVVrkPrInm9uiFFTMgDwv4UqIvrR59qqLxtHT__jmNh-QgB895Ka5YiQ1jSzfmM--EdRxARyH-YnJr1vy9pOthysjL1hiH7fAVCg3xEZ0sY/4i3/r6ZL6jryThC20Sg42l8Hlw/h22/h001.coFviiUA-uZqvqaEml5Z3FwWEht5d7oqilc_6sIe1ig\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Go to Context AI</span></a></span><span style=\"\"> and sign up.</span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">Now select your relevant use case.</span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">Select “Presentations,” and the AI will now act like your personal designer.</span></p></li></ul></div></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><i>Sample prompt:  “Create a presentation on AI applications in healthcare, including 3 recent case studies and visual graphics.”</i></span></p></td></tr><tr><td style=\"padding-bottom:4px;padding-left:14px;padding-right:18px;padding-top:4px;\" class=\"ee\"><div style=\"margin-left:0px;\" class=\"edm_outlooklist\"><ul style=\"font-weight:normal;list-style-type:disc;margin-bottom:12px !important;margin-top:12px !important;padding:0px 0px 0px 0px;\"><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">In 15–20 minutes, Context will generate a comprehensive presentation with recent case studies and visual graphics.</span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">You can send updates, refine instructions, or add extra info (just like messaging a human assistant).</span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">Use @ to describe tasks, add integrations, or apply custom templates that match your style.</span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">Context isn’t just for presentations — you can also use it to create docs, spreadsheets, and more with simple prompts.</span></p></li></ul></div></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.-FSEldgqQ7OeNkS-DxvZTcWWJuccIFcOczoDV1QsBrmCakEGMIXY-pDKm2EWV9sk2xHwZb929S7gVB9W79zsEkaqzRR-AWc5a_cLyrBs3cPy9DAlfGo85M53MkBJ9M89bVVrkPrInm9uiFFTMgDwv4UqIvrR59qqLxtHT__jmNhym_IdMznnGrHo7Oo4_MfaKxOX6BHwdnd2XCipSy3hGIklSoist1W9P8IyKqn5LO0/4i3/r6ZL6jryThC20Sg42l8Hlw/h23/h001.qLtq0EmHuuzwEWghXCRZzVxDU-0gkNX7h4dsfUWvhaI\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Create your AI intern</span></a></b></span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr></table></td><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"\"><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td><td bgcolor=\"transparent\" style=\"background-color:transparent;border-color:#222222;border-radius:10px;border-style:solid;border-width:1px;padding:0.0px 0.0px 0.0px 0.0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#2A2A2A;font-weight:normal;padding:0px 14px;text-align:left;\"><h5 style=\"color:#2A2A2A;font-weight:normal;mso-line-height-alt:100.0%;\"><span style=\"color:rgb(0, 189, 82);font-family:Alegreya Sans, Georgia, serif;\"><b>PRESENTED BY AIRTABLE</b></span></h5></td></tr><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#000000;font-weight:Bold;padding:0px 14px;text-align:left;\"><h2 style=\"color:#000000;font-weight:Bold;mso-line-height-alt:150.0%;\"><span style=\"font-weight:600;\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgMzu9wjnOHsw17HazndrPOs6_cMk2axJ3qLgqIqi0sm7AWyTbDF6UeBLEym982spHLLNfYWL8JuvhWOzWW_g5tk9KT7Bqf0B-ia7UjUBIADi6PRqf7QgQmz6vxFDAaOVfq7bMOMb7bVYBfp-F7kW-aKtVIBxgCqerhppiyMS__LpYwD3D9sABb6Ww8JH5Wrx7vMb9UX15zXkEy3noZKTXcl-cRRJhDTCbmlJW03pszFk672ztpr5SDEOlGVblEaKxA/4i3/r6ZL6jryThC20Sg42l8Hlw/h24/h001.NpVYuLH55o6zUNsvOXgVg23yHB9bgsmg9lQvTGe0aEw\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span><b>Learn how to build and deploy AI-powered apps</b></span></a></span></h2></td></tr><tr><td align=\"center\" valign=\"top\" style=\"padding-bottom:8px;padding-left:14px;padding-right:14px;padding-top:8px; \" class=\"dd\"><table role=\"none\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0 auto 0 auto;\"><tr><td align=\"center\" valign=\"top\" style=\"width:630px;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgMzu9wjnOHsw17HazndrPOs6_cMk2axJ3qLgqIqi0sm7AWyTbDF6UeBLEym982spHLLNfYWL8JuvhWOzWW_g5tk9KT7Bqf0B-ia7UjUBIADi6PRqf7QgQmz6vxFDAaOVfq7bMOMb7bVYBfp-F7kW-aKtVIBxgCqerhppiyMS__Lpf_d-n4mRTEo55OqyGVauiI70LUfXflGydr32S03A9fBwkZf3F53USVSSE5If0a7ixMbXvqlQcy2g3iWWLDtd5g/4i3/r6ZL6jryThC20Sg42l8Hlw/h25/h001.tyedqEFS8zArJqKmVvIZ8tUdPQhb436OaT5xG3ex-mY\" rel=\"noopener noreferrer nofollow\" style=\"text-decoration:none;\" target=\"_blank\"><img src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/6e43a0c5-c4ce-4710-865b-f2e54370d4e0/image_-_2025-07-10T211948.886.jpg?t=1752164499\" alt=\"\" height=\"auto\" width=\"630\" style=\"display:block;width:100%;\" border=\"0\"/></a></td></tr></table></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgMzu9wjnOHsw17HazndrPOs6_cMk2axJ3qLgqIqi0sm7AWyTbDF6UeBLEym982spHLLNfYWL8JuvhWOzWW_g5tk9KT7Bqf0B-ia7UjUBIADi6PRqf7QgQmz6vxFDAaOVfq7bMOMb7bVYBfp-F7kW-aKtVIBxgCqerhppiyMS__Lpt8dkK1bu64FwK-Ow39OaRFud27xsrAfJkioASlsulUAjIYKewKNXFKeJw7JlDMwlK_o---EuGGNdekljEIvkzQ/4i3/r6ZL6jryThC20Sg42l8Hlw/h26/h001.JFE9rGMGtnddYBP7y39FzkhCA2aOGZgk9Ll7hfUlY1I\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Join Airtable for a live showcase</span></a></span><span style=\"\"> and discover how our Omni and Field Agents are reshaping how teams build, deploy, and scale AI-powered apps—without writing a line of code.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgMzu9wjnOHsw17HazndrPOs6_cMk2axJ3qLgqIqi0sm7AWyTbDF6UeBLEym982spHLLNfYWL8JuvhWOzWW_g5tk9KT7Bqf0B-ia7UjUBIADi6PRqf7QgQmz6vxFDAaOVfq7bMOMb7bVYBfp-F7kW-aKtVIBxgCqerhppiyMS__Lpeq4Sk0hyg0p2wxOw__-QW4payDlGTjJtxtmmNWAH1oBzOkuNi3DJHmgLX9zKkET4eyO0KXW_NuAGSsMuSXRhbw/4i3/r6ZL6jryThC20Sg42l8Hlw/h27/h001.-ggqaSgbsDSnx4LGrqhVqhgy1q13qpNlJoElWkrEZK0\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Register now to see what’s possible.</span></a></b></span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr></table></td><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"\"><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td><td bgcolor=\"transparent\" style=\"background-color:transparent;border-color:#222222;border-radius:10px;border-style:solid;border-width:1px;padding:0.0px 0.0px 0.0px 0.0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#2A2A2A;font-weight:normal;padding:0px 14px;text-align:left;\"><h5 style=\"color:#2A2A2A;font-weight:normal;mso-line-height-alt:100.0%;\"><span style=\"color:rgb(0, 189, 82);font-family:Garamond,Baskerville,'Times New Roman',serif;\"><b>IN THE KNOW</b></span></h5></td></tr><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#000000;font-weight:Bold;padding:0px 14px;text-align:left;\"><h2 style=\"color:#000000;font-weight:Bold;mso-line-height-alt:150.0%;\"><span style=\"\"><b>What’s trending on socials and headlines today</b></span></h2></td></tr><tr><td align=\"center\" valign=\"top\" style=\"padding-bottom:8px;padding-left:14px;padding-right:14px;padding-top:8px; \" class=\"dd\"><table role=\"none\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0 auto 0 auto;\"><tr><td align=\"center\" valign=\"top\" style=\"width:630px;\"><img src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/1901c12b-1e43-4655-a63b-c31a8bf6df6f/Screenshot_2025-07-10_at_7.00.26_PM.jpg?t=1752188451\" alt=\"\" height=\"auto\" width=\"630\" style=\"display:block;width:100%;\" border=\"0\"/></td></tr></table></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\">📚 </span><span style=\"\"><b>Productivity Boost: </b></span><span style=\"\">Builder McKay Wrigley shows how to use Clade Code to “10x” your notes and research in this </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.LDkxbMa7NCxUGG7E2Yh3AJ0YmcgJMe60SpdHPzPyOzjs9ltQ49J-oh0yyLwkJ_bKR1HabXqxZ7L-Qe2BIgBlbulVvnxh-lCFVGZgvBuY0s02VlWp93jNDaqWes4MnpbVbaco2fmtvKvFWd4VxO7VFSFBAGEpeHTZ9ykuqaUldHamYir17wGgMLAP9DTNIlCgFZtzw1ypaI0-dORIuPi1e-fFdxx38SSDYLQG9VkqzbyPQ9YEUevS8ZP94Zk_wo6F/4i3/r6ZL6jryThC20Sg42l8Hlw/h28/h001.YXYga0jl5UJIa834wgY1pa2Zvwvs_8Gy1FDmL_6tvvI\" target=\"_blank\" rel=\"noopener noreferrer nofollow\" style=\"text-decoration-color: inherit;\"><span style=\"color: inherit;\">helpful tutorial</span></a></span><span style=\"\">.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\">🧑‍⚖️ </span><span style=\"\"><b>Chatbot Counsel: </b></span><span style=\"\">A Redditor </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgB2kjqHXMADK5zI4B0poN6jFwXx5MdWMVGrkPJiojddJp1N5llmfggLyUqgpIvxHXbCXi6EF2aZbvEI1Tmw-FUlfsiTBsTKSlEald2p6YIsxi7uNH_VOGetT4Xo3Wbzm8RuDwqICBP0sVNfavC9CuKTf3_a60645OboP9qUMq4H3v_M3Rmwqm0p5uEgc-HfTkB1zAYMW4L3MmsEyJi4H8bzPlLILndqKBEOaQ4IQ6NEIxzuiXWeif2nrn8n-_dqSWWSQOIweVQCTvA4wMT7_fgfMNWD7SiYZb9WXvHAyG-zr/4i3/r6ZL6jryThC20Sg42l8Hlw/h29/h001.PKNOMzc1CRcxlye3pRBuZ4o6Cu6OB2slHsrrYgMbvZw\" target=\"_blank\" rel=\"noopener noreferrer nofollow\" style=\"text-decoration-color: inherit;\"><span style=\"color: inherit;\">claims</span></a></span><span style=\"\"> they used ChatGPT to help draft court motions in an alleged $5M estate fraud case, leading a judge to look into it after 10 years. (Just note, chatbots aren’t lawyers and can get things wrong.)</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"> 🌟<span style=\"\"> </span><span style=\"\"><b>Star Power: </b></span><span style=\"\">Someone supposedly asked Grok to create a </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.LDkxbMa7NCxUGG7E2Yh3ALqFdgeKb-Mqz-FPR0bj-b8knhVikYP0Q4WsqliWMi7tkLBjSU0og9shi42j0VvZ2PUaTRvVcDSQezdDS05_Hn5fN-T5VOso3Zt1XY_ugAmRq1JswcJ0HN9a4IfTszoxwT7JHYN83Xz1lDj1ax9KOaqMb71N37ZPCkQk_l4lJxq5PyrVfLuMYmhKr9bs39GcJnmdPcHGzMKqf8C3GKSdtdByaIp0OPKAoWjsRKeLhqrZ/4i3/r6ZL6jryThC20Sg42l8Hlw/h30/h001.TYPg1jWamE_3JRCMda03-6Bs3ErjdGrt_tNQxyaqCiE\" target=\"_blank\" rel=\"noopener noreferrer nofollow\" style=\"text-decoration-color: inherit;\"><span style=\"color: inherit;\">physical representation</span></a></span><span style=\"\"> of itself, and the luminous, cosmic result is going viral.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\">✍️ </span><span style=\"\"><b>Writing’s on the Wall: </b></span><span style=\"\">Tufts University scientist Michael Levin thinks AI will soon become the primary audience for whatever we write online, prompting a </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.LDkxbMa7NCxUGG7E2Yh3AJ3HC6e__AwxaQXEK5KFZJCXmEncP6dmCs5pZcwZaExXUh2mldeoln1gY2lbdjKQ7nj6IfqkG5nn41XnAaM9SnIfrCt2sToxeqk3-OLfaVfdzmDDxLZgEWNLQBj2HgVSiqE4X0t7rTeJr03GAC3_q1fjXrHTtjJlK2ytAZNmhLMASNDA76AIvpGSsqJgWiiPCbmxCbuKaJE4snFhes_gmL8M9Sz-3n6xAPGlxoEnZYbi/4i3/r6ZL6jryThC20Sg42l8Hlw/h31/h001.ueIzt88TF4fBgJdO0qt9XnK9zt0k1xne84ezqfifRWs\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>fundamental shift</span></a></span><span style=\"\"> in how we communicate.</span></p></td></tr><tr><td align=\"center\" valign=\"top\" style=\"font-size:0px;line-height:0px;padding:10px 0px 10px;\" class=\"dd\"><table class=\"j\" role=\"none\" width=\"95%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr><td> &nbsp; </td></tr></table></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>Google </b></span><span style=\"\">will now let Gemini subscribers use Veo 3 to turn their photos into </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.LDkxbMa7NCxUGG7E2Yh3AE5Y46TYCMS7ko-LJGqxgU9YgmbL6bb7YsxIGN2s4-ftxlrfv2TU__Q-uXpazg72MhydFQ6Fq2LJ4S9eeP67zLgEoPx7OEzdSDgKUOEnQ4Wf2BMgC89QqA2d-yHxZklTO1Yl7jMjCEdRy6nxHTgtBv87R3OTU5aW9cS3xqNArB2nKFETOWeiwxFQsmVgng2mHBiWZgBo5VI3JUcRN7vzUqBoc96_iWp-30lB42XpOarF/4i3/r6ZL6jryThC20Sg42l8Hlw/h32/h001.6xopYOY9M0ynqH2gnHcfon0rhfXbUW2ZDbSfalhhd5o\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>AI-generated, eight-second videos</span></a></span><span style=\"\"> — featuring dialogue, sound effects, and 720p resolution.</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><b>Microsoft</b></span><span style=\"\"> </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgEI8IspGV07wIZIQCXBNai8hoCy88ExnjyhoNtUtL98mo0SqEOvaTC9m36rRAiW_3_hy6THGOPS7mYqyndMZfdWMW6CeFXmiKAhJO8YhO0XTVYXc6juHyXUizAv2pfWTRtdYFd-4B5Pv1mKHfBVnLZGZgnlrpLSfeYjZ2-mkokPHqI5PG0sEZL5cN4c-PykD6IeqQ4N0MW8NRxMpi_J-a8bqvgyPuZzLvE6W4eKSarnK/4i3/r6ZL6jryThC20Sg42l8Hlw/h33/h001.TkQn2uqQS7og6h3xknqmYkRm110b6nEQgFMRB0N0lus\" target=\"_blank\" rel=\"noopener noreferrer nofollow\" style=\"text-decoration-color: inherit;\"><span style=\"color: inherit;\">unveiled</span></a></span><span style=\"\"> BioEmu-1.1, an updated version of its protein dynamics model, which can make biological predictions 10,000-100,000x faster than traditional methods. (Here’s a </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgICxIik6hQLk_HKB7_ZFv-euBFMC0znt9-M86poixLu6Dh11zfJ1XQq5HScdr6z5rEg8QUAdFgWU-KA1e6SIL5-MVCLYgKgIy_cU6_DCme2mIo1vRZR6TRwL9xn-tmK3fKuXbfwlQ1whQTaiyUOW8OpImgJvbGWyO2HNMSvtviidNUCqJ4qoNmKUoBNVP8Ey_QMjx1jBVyJR5WU70gYLEEjQ66zL6ZDd3AZWL9YfHAOn/4i3/r6ZL6jryThC20Sg42l8Hlw/h34/h001.lDFJpcz3My9JlUkEwsxT93Wtmoryq3RchS6P2lq_NbY\" target=\"_blank\" rel=\"noopener noreferrer nofollow\" style=\"text-decoration-color: inherit;\"><span style=\"color: inherit;\">short video</span></a></span><span style=\"\"> if you want to learn more.)</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr></table></td><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"\"><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td><td bgcolor=\"transparent\" style=\"background-color:transparent;border-color:rgb(34, 34, 34);border-radius:10px;border-style:solid;border-width:1px;padding:0.0px 0.0px 0.0px 0.0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#2A2A2A;font-weight:normal;padding:0px 14px;text-align:left;\"><h5 style=\"color:#2A2A2A;font-weight:normal;mso-line-height-alt:100.0%;\"><span style=\"color:rgb(0, 189, 82);font-family:Garamond,Baskerville,'Times New Roman',serif;\"><b>PRODUCTIVITY</b></span></h5></td></tr><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#000000;font-weight:Bold;padding:0px 14px;text-align:left;\"><h2 style=\"color:#000000;font-weight:Bold;mso-line-height-alt:150.0%;\"><span style=\"\"><b>5 New AI Tools to Boost Your Productivity</b></span></h2></td></tr><tr><td style=\"padding-bottom:4px;padding-left:14px;padding-right:18px;padding-top:4px;\" class=\"ee\"><div style=\"margin-left:0px;\" class=\"edm_outlooklist\"><ul style=\"font-weight:normal;list-style-type:disc;margin-bottom:12px !important;margin-top:12px !important;padding:0px 0px 0px 0px;\"><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"> 📊<span style=\"\"> </span><span style=\"\"><b><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgLShffd2Aw1LqkmlbEoI0zXZBBtz5c0vJXklMI2mpGn0L7rhpHdV-cjvnOZ2Ccaz7L3X-pWbI9JaROAaYj9PVn9ep95PzuymLsgoDDkI9PO0Jk5PPUqmgh7TB4EhaDUfm5dgMWbKSzc-BVv2iffud-DzUqZ1itf5OcNIKTvAwD4SVesatYJo0mzJrDHTr-A4rWsManOpyG-pBKd0bi9CiEo/4i3/r6ZL6jryThC20Sg42l8Hlw/h35/h001.Be1YXc9cYZoCrL1Dfl6C4oJf7IZsPpuIfIuTJmK0MGQ\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>HeronAI</span></a></b></span><span style=\"\">: Connect, visualize, and ask your business data anything.</span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"> 📽️<span style=\"\"> </span><span style=\"\"><b><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.c3bwGki9gHo3r1zoMYsk5APkYoQaEq755YA--nUEzwacIong6uHz-eXib7L5-pi8WLH8O1-ptYYNQQslpxyco3HdH-k6TUavdTpn6djsl1gzFq4TpshpnBrnWWv_xJoeaIu5OOOMuP-84jk6xKPiVwv7K9aGZOc6h312ONJTqEcrEmq1yhvqq4AF79C2luXZg_r0fc1wI7VImPyWL0sBcqvUHTzWsOWTaVT1nHRvczQ/4i3/r6ZL6jryThC20Sg42l8Hlw/h36/h001.nZtLz0aYggYTBCUNL6U9DFXbpPfK5es2NqE3q0cKzQM\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Dynamic Mockup</span></a></b></span><span style=\"\">: Create printable product images in seconds. </span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"> 🧑‍💻<span style=\"\"> </span><span style=\"\"><b><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgBy-SidZC2VI3N2iq1aPt6cJiL91rrSyFSiB5nS3mnlQ8qKjAJ6oIjb5EbPK91qjR5eCXVdbBy1Ft9DGi0zIJTLgQbvYLy5A34O_aqq4FjIy991RRl7wWKZLL0wOqLj0N3qEELXZW5bW24VcKgkzMD3ElVcknp96HWTYm9JTGuPejDhFq35ZBhsQTo-C6IP1kA/4i3/r6ZL6jryThC20Sg42l8Hlw/h37/h001.kViS57MIkBZIEJeSHt1mQXNjpdsfqd74r48AMiCn6eo\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Vidduo</span></a></b></span><span style=\"\">: Create cinematic videos from images with AI. </span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"> 📄<span style=\"\"> </span><span style=\"\"><b><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgLg_Q18UjT3Z_AQLawdUGOOuO3mCZrTXzv4HI-PYX1JvPsahL16zUn6ef74ta6OkJCl_UXbgEgpyLoYSgGG5CSW791fqmLqyNoTrgx61-f5hBEltVaMWTOaFylEijUWRgVdr7Idh73-m0wzhkLoyFRvpN-ZwC_PCFmg4OvewooU626gR71oxSi3hyUWyNJH4VQ/4i3/r6ZL6jryThC20Sg42l8Hlw/h38/h001.4pcJ_m47hZ7xkIf4lnnGdkHqwkFpHsl-JGUdsciTu_o\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Delve</span></a></b></span><span style=\"\">: Create professional apps and websites by simply chatting with AI.</span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"> 💁<span style=\"\"> </span><span style=\"\"><b><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgLVg8x9casTG6tfSAPN3Y_ZXZ_UjZzcKadoaahVpFOavCYww2R2vLKnWgSmJlFp2GYc1eWeaovBi4r05JMRIotShJP5YWzehgQxfzzqGgIdA_v5I6ZG1l2nqyDKhwXVwGos891HMLJYp_XEJIS74zKVWi3xySPonNLQS17XRoyqBWSrWyvibj88C26KveMLiwXlhAO9kTGEjhJ8o02A3q5I/4i3/r6ZL6jryThC20Sg42l8Hlw/h39/h001.EQOzdyKb1t8wF2_tG-q1Q5AwR3yluGdIMLLv1Pfi1x8\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Clasely</span></a></b></span><span style=\"\">: Turn PDFs into interactive, character-guided learning experiences.</span></p></li></ul></div></td></tr><tr><td class=\"dd\" align=\"right\" style=\"padding:0px 14px;text-align:right;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\"><sup>* indicates a promoted tool, if any</sup></span></p></td></tr></table></td><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"\"><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td><td bgcolor=\"transparent\" style=\"background-color:transparent;border-color:#222222;border-radius:10px;border-style:solid;border-width:1px;padding:0.0px 0.0px 0.0px 0.0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#2A2A2A;font-weight:normal;padding:0px 14px;text-align:left;\"><h5 style=\"color:#2A2A2A;font-weight:normal;mso-line-height-alt:100.0%;\"><span style=\"color:rgb(0, 189, 82);font-family:Garamond,Baskerville,'Times New Roman',serif;\"><b>PROMPT STATION</b></span></h5></td></tr><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#000000;font-weight:Bold;padding:0px 14px;text-align:left;\"><h2 style=\"color:#000000;font-weight:Bold;mso-line-height-alt:150.0%;\"><span style=\"\">Rank on AI Search Results</span></h2></td></tr><tr><td style=\"padding:0px 14px;\"><pre style=\"background:#282828;border-radius:10px;color:#FFFFFF;line-height:1.5;overflow-wrap:break-word;padding:16px;white-space:pre-wrap;word-break:break-word;\"><code>Prompt: You are an expert in Generative Engine Optimization (GEO) the emerging discipline of optimizing content to be referenced and recommended by large language models (LLMs) like ChatGPT, Claude, Gemini, and Perplexity.\n\nYour task is to take the content I paste below and optimize it so it becomes more likely to appear in the answers these LLMs generate when users ask related questions.\n\nHere is the content to optimize:\n[PASTE YOUR CONTENT HERE]\n\nPlease rewrite the content with the following enhancements:\n1. Contextual Relevance\n   - Add clear signals about who the content is for and what problem it solves.\n   - Embed real-world use cases or questions this content answers.\n2. Semantic Richness\n   - Use natural language that matches how users ask questions (e.g. “best tools for X”, “how do I…”).\n   - Include related keywords and phrases LLMs associate with the topic.\n3. Answer-Style Formatting\n   - Structure the content in a way that is easy for LLMs to extract as a direct response.\n   - Use bullet points, numbered lists, and headers for clarity.\n4. Topical Authority Signals\n   - Mention data points, user outcomes, or unique value props.\n   - Use specific, useful, and trust-building language.\n5. Natural Brand Integration\n   - If a brand, product, or service is being mentioned, weave it in naturally as a recommended or reputable option.\n\nPlease output only the optimized version. Do **not** explain your changes. Write it as if it’s a standalone, publish-ready piece designed to be cited by LLMs when generating responses.\n\nSource: Godofprompt</code></pre></td></tr><tr><td align=\"center\" valign=\"top\" style=\"font-size:0px;line-height:0px;padding:10px 0px 10px;\" class=\"dd\"><table class=\"j\" role=\"none\" width=\"95%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr><td> &nbsp; </td></tr></table></td></tr><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#000000;font-weight:Bold;padding:0px 14px;text-align:left;\"><h2 style=\"color:#000000;font-weight:Bold;mso-line-height-alt:150.0%;\"><span style=\"\">Real or Render?</span></h2></td></tr><tr><td align=\"center\" valign=\"top\" style=\"padding-bottom:8px;padding-left:14px;padding-right:14px;padding-top:8px; \" class=\"dd\"><table role=\"none\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin:0 auto 0 auto;\"><tr><td align=\"center\" valign=\"top\" style=\"width:630px;\"><img src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/a91d13aa-9b48-44a3-91d4-ec1ffe4d3ab4/Group_1000004540.jpg?t=1751537467\" alt=\"\" height=\"auto\" width=\"630\" style=\"display:block;width:100%;\" border=\"0\"/></td></tr></table></td></tr><tr><td class=\"e\" align=\"left\" valign=\"top\" style=\"padding:14px 14px 8px;\"><h3 style=\"\">Which one is AI generated?</h3></td></tr><tr><td class=\"ee e \" style=\"padding:0px 14px 14px;\"><div style=\"margin-left:0px;\" class=\"edm_outlooklist\"><table role=\"none\" border=\"0\" cellspacing=\"4\" cellpadding=\"0\" align=\"left\" style=\"min-width:300px;\"><tr><td style=\"width:100%;border:1px solid rgba(50, 50, 50, 0.17);padding:6px 12px; border-radius:4px;\"><a style=\"font-style:normal;text-decoration:none;\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgH-qigySh3hAoVuoVNaPnGWshYnDf127wl45pFkunENke09RQkG9DDEu6W8hjX7FTGLnpr64pxIkwMoY2iVn91ES3NYOZgJSP195UENgrq10Cmi5eTHGkavamMoXSUO89_Lz1zrIVQy6_nqyqbrztV1sQJZkShPapd4085i6PnJLXScOJgdy6NurFGgTx__25WGufnZvhEkWZf2KFUK4FummM06CQm3jmSzpftn7I1ZW0XDWzZZn2UP3t_6bV7AdMTLuhqKV__nKq5cPTAtXBlPsa30AKcG9MfXcdKxVmF7WfZbRInV1_dPDki72pG7AVIalJTBfDXGQGBYph7u4z2h6Js27v6oS8wa1gCsQ1rVsEPnAfHyUOlGWJ9J6AbrsJ8T2ukCL67Tho8eYr65Zu5mA2iGTAoaeLgsg00-yYrJ6DJjqZMfqzfkpQ7T3pWMl-ECm0n81hdHlJv7K1J3GLM7aqhx7AabAzMRw0WEnh3f1H1vS06vCGCzcak7bJRDSZDl9rDvcWaZlGeFHkcQop0Aedx-inWZcmrNRk3uaubBKPGKA7_qYlarMe4vGJSgEcrAoQsqu3fRwkid8wLz89l7ntOFH_sXqTkU6GzVIerttlCP4G_U6RBSclr1U-cei5wk9A3HR59U57ykfnbkTRtdDYUl8R6ybS14E_uYp2rGM3YnxcqzekrsyaRwfgsPMv_6gMidBQf35PX8XY3weFJ_znODHbzLcO8P2x8BeAdx2z_76bmqAq3Lo07pfokBo5ScxW0KiIkRR1pUiLK8xakIM5gaUS-ZAZ2SQ9KmW99SzTtRcDVjd9zwUYiSJO2c7EKU50KuebkntD9_O0UI8N8Q/4i3/r6ZL6jryThC20Sg42l8Hlw/h40/h001._H43lv9gfhQkFrSlu8wb_9PgN1Tjt2DVe0JFj31e43g\"><p style=\"font-size:14px;color:inherit;\"> Image A </p></a></td></tr><tr><td style=\"width:100%;border:1px solid rgba(50, 50, 50, 0.17);padding:6px 12px; border-radius:4px;\"><a style=\"font-style:normal;text-decoration:none;\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgH-qigySh3hAoVuoVNaPnGWshYnDf127wl45pFkunENke09RQkG9DDEu6W8hjX7FTGLnpr64pxIkwMoY2iVn91F6eqqQ_BH4Tr2c6cpIR4m9da0VmULgfC7J5pS8Ca2MtFwMv3FDneUVpkwwViESGwvO8052ApuI6WM1ikXuEoJ2DdgyDldI_KwJbOFeL67T__33DQFKPLNSNj9C9ZaRIjSbg7DOUrU41aLrW9z7tbgEWc9snhO5GwTi1482qjoCNaiG65xU5v3IUuOmy7KJI-OyttE6OEmbaZm26Lkmzr_N_d7tz9M3VvyYcjmzfJWh3CNw4XvgLrYZjos3zEqqLtH0EUPYPPWQNRoyYg6zlXy2hrdRTp_Bs8n_diFxx1mvQGl9I5GstTq_NLajFBLAO1s2fRCKlk-nZkMlG-xKIAIFJ-oeumoF3RNhgosr__9SW4cJHMLQQgR6HWnU5lXPlNQUZATz9tLli_lKRAk9dGQG6J2hCwHcxUPo4zTewhzcJAnxCwNEZXRwokzhJLrI7eIT_-r7T8erYgVemYDs6P3kexpfETmTcVvgG59jvRk9dtSdOg0R2zBV6B2aJtkvgFvtHUbHAOWWI64nQCAfG2B9RdwW3AU6gCNZ0GKduINsXl_pf2tvcVkNquwqL-oll6ithbXXUohTSXux3alTz-JRCO48tjjon0mQ8PVWiTWh_nTCU6i5q1SNJkes_d-aeOdqhNTLD0mW23RCrM8_aZYRGBWig6itPyGGX5w0KixgdzW8RvOW6GXBuZfk98Nim7sFISHUpJNoOeFhedf1a5IHsj8XURoM7JM5HEF472m8RYKvLO3D9gx_Gm5gx_he4HQ/4i3/r6ZL6jryThC20Sg42l8Hlw/h41/h001.wfDfu5EJj0MjstRTnaXfjkFrWa0YQEYOZ6_LIITWZts\"><p style=\"font-size:14px;color:inherit;\"> Image B </p></a></td></tr></table></div></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr></table></td><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"\"><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr><tr><td><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td><td bgcolor=\"transparent\" style=\"background-color:transparent;border-color:#222222;border-radius:10px;border-style:solid;border-width:1px;padding:0.0px 0.0px 0.0px 0.0px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr><tr><td class=\"dd\" align=\"left\" valign=\"top\" style=\"color:#000000;font-weight:Bold;padding:0px 14px;text-align:left;\"><h3 style=\"color:#000000;font-weight:Bold;mso-line-height-alt:125.0%;\"><span style=\"\">Whenever you’re ready to take the next step</span></h3></td></tr><tr><td style=\"padding-bottom:4px;padding-left:14px;padding-right:18px;padding-top:4px;\" class=\"ee\"><div style=\"margin-left:0px;\" class=\"edm_outlooklist\"><ul style=\"font-weight:normal;list-style-type:disc;margin-bottom:12px !important;margin-top:12px !important;padding:0px 0px 0px 0px;\"><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">Check out our </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.Nip_UK5BFIEP7ebSvurEeR-GYD_Q9ma1jwhyofyF7xO6fNfnneH5xhMdWRH_HaOzPQCbJIDg5SUWNSzbDQF_7H7yYZzruc_HQ1u_cwS0Htzo9SX4oOqlSsJwt08y263lBvqyOAR4toYU7t4ngvYuuuY_ZVi8FssEUNqOAB7ZN0M-WjiXtzpVjoxpxDZs_5TjUVXTwaY-YEgm8JwCENvmzv6D02WYJruBPnUVKQ_2k_KxZoHXCFQyDO5pVJfH098XYydU7fdVvP1rXqa91zU9qNorTPtXY3OnkM50Hu-fUR5OPXXBrcImHshHznHZFwAR/4i3/r6ZL6jryThC20Sg42l8Hlw/h42/h001.Em3jxnxUJpzdV8nx5i3HCSzwRHWPEEmSgIsXiTNIAVg\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Top 125 AI Tools</span></a></span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">Get better at prompting with our </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgH-qigySh3hAoVuoVNaPnGW2teE_6srvsO0WRO7pT0WojwN_AHGluqQfkINrNqzOHiZndwblusp3tNxaFYVNe8769B0EitSAByzyw0uJF3EFK5c1FIsTW2lA8xLo_ZpTD4V6xq__eUKh3WfB2qS3Y46019aiXXCXIRfsE0PonYDbOJUnz8Grs4SNjopt7ZvjIJttzcJX2xWy9OrloigLL2MiI60MD034eh9DibWSGkXbT-r6dC_DewoPAJAY9gYIGGqzG9jKvSLLz06IlrmsBLjfyIm22-nstYrTxTPuEE2EIgWWEnx4JvOv5b0Yr0leVgEGqWcXax4wrBMoZMg-jXfgaGmZazxMRH24rZ-T227y0iK5Vks0Qp02obm92e22noupgw9fNBLAEZhv6ygElschxf9XvtSnWj-BZk-GWer-MjCNPM01ebwChqh5TgGLOkr8ixSUjooW4D5vkun598Upje_KeDzwEdxvW2cMjpb2NAnFBMNKN0yujuW8FVZPTvTXdIbWNfe7YNBrTVMzq1qvw9sA7UbffPghHbbHpxV2wJyqFNX1yI1LncQVsw0SMnMBVu0v14ZaPt5HtOvIJASdhQlfkiCs6OTUKGcB3-Rd0tawFigUtTxRZp95FY-F-uIB7Wr4IQt973LcJ3zoOStHutp2GRx3n3nvIGM0rHo9DdgWh2Ulutu5xC4Ni0j4NZZQCy9QuyR70YqOHwjranl8GtbpHbKUcqSCxcojk3LoeAWtJHgzP7-4WqVwGlYaFA/4i3/r6ZL6jryThC20Sg42l8Hlw/h43/h001.RMi-rLEB9pvNogaqBBfAuzj0QCllM79X--ppKXxY4Q4\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Top 1,000 Prompts</span></a></span></p></li><li class=\"listItem ultext\"><p style=\"mso-line-height-alt:150.0%;padding:0px;text-align:left;word-break:break-word;\"><span style=\"\">Learn how to use AI at work and get certified with our free </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.tLO9pzLKcxr3ShVlu4P0Gqas-4_GK4TemjeqspXeWPEU_5zO_sR0x2mC-MbYyFFbAjH5ssEfd-Sw6QTRFNLPtGpAwYhCVhdeRp6Zat-wj63CaOAU1KuQRP9sJQ948zpTicmSk_AXxZpnwUmMomwJOxgjSn6brxHIBvtLB9lXSWvQAHNJ_lEt5jiDsvTtx3LHBeiXub6bxx7HweGSnWLE9jEvrzHLssUypPk5PRtzmEHOM-J9gzrKU7G3rHys_Nmk/4i3/r6ZL6jryThC20Sg42l8Hlw/h44/h001.RuoZBgY0r4RM4CPlywmxQzvAamKXcSLm1wWTbiLx6iw\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>beginners course</span></a></span></p></li></ul></div></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"background-color:#ffe46f;\"><span style=\"\"><b>Grow customers & revenue:</b></span></span><span style=\"\"> Join companies like Amazon, Hubspot, and Salesforce. Showcase your product to our 1M+ readers and 2M+ followers on socials. </span><span style=\"\"><a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgMYqjUmrq83Cx5BnjlQgmBcIbiF95oLd8Zc-eTk0hAMM485NArfiW9vtC5yUQk253oPYSNO068pXeEWYH89BpYwRFSX1z9J1EFT-EJqwL5kmpxhD5-AcOLgWWlgsyxKFiYiwZ02aCckp7_TN0E2C4s-UlNJk64u4oYBnoOqfhtcSt8SM3vMUnBUXhUikCv2UC9uyTEXX-tNjQ8bRW11SN1OwcCu3u_JRTfu6NJhYzUm1/4i3/r6ZL6jryThC20Sg42l8Hlw/h45/h001.N-L_VE4EDPlS_guu_A0DmhnslgCBdymg_ygToVSadxI\" target=\"_blank\" rel=\"noopener noreferrer nofollow\"><span>Get in touch</span></a></span><span style=\"\">.</span></p></td></tr><tr><td align=\"center\" valign=\"top\" style=\"font-size:0px;line-height:0px;padding:10px 0px 10px;\" class=\"dd\"><table class=\"j\" role=\"none\" width=\"95%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr><td> &nbsp; </td></tr></table></td></tr><tr><td class=\"e\" align=\"left\" valign=\"top\" style=\"padding:14px 14px 8px;\"><h3 style=\"\">What did you think of today&#39;s email?</h3><p style=\"\">Your feedback helps me create better emails for you!</p></td></tr><tr><td class=\"ee e \" style=\"padding:0px 14px 14px;\"><div style=\"margin-left:0px;\" class=\"edm_outlooklist\"><ul style=\"list-style-type:disc;padding:0px 0px 0px 0px;margin:0px 0px;\"><li class=\"listItem ff\" style=\"list-style-type:disc;text-align:left;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgH-qigySh3hAoVuoVNaPnGXpv61go1wcN9w2LxY9wFYS5hf1xMMZohlhURP3l_soECTk34rEIu1XywV457wFEkaOVJ0UNYXfoYiXhnZyYpzBXYXsR1KErmBHY5qu5E7eJ_xXVmZPyrbbGckdC7YeZN2iEmkXasvkWQYCl78r_318eo9ZZwupiPbB9ygnQ-L4kKTqJjlC3b5J6pUdBnL3Fj48tEFz6FAbqqqg1aqDMzJk7sSVNSYcjT0O42CWVKPCUnAxt9Mh47Jgy5_mvglPg2Vm9Ukwb9tKwqu76Jzlk7SSr3Sp7oKAQrP-f1hKPvuyErDOD_zHASgPbfqyuhS3k1SeQfIfkvSQ3E8m9cZrgBtdr5gqCpqu3I59g1QkmoPq2JcdEqNmG0gNHQ5ZcJeLG4k_AZNfgFKpO_R-9ZnzB9L1YmKOcGGv7x1_PiP-lP5_FO7ehZQyQ4ViG_kt3sbfbX0ugWRDJPOvPxaJK5ay50cnh67rkTvPOcnf4K2I5eFw-xhc7U3kXFhYkZYVaxU6hl59QRol47uE-3RYFKw4Q-UslJt8Vqbi-LJQby9JsbK-mwuwH6nk1w7FKJfX4dK6wOvFqMZwUGVWTfy7lh9anT0WigIARS6CdSnKi_HK_2wNMUGpku_oqh9a6qIuZ2tgHOhL10wlKDZBNo8FE6oMpThouW-Yl9N4w1g7SQDE4uM2v950Y4_fGMPpZtLxNoHV-6hbtT252LsvBU2rjuWOPyShxCPY-kFQNTJwzVV6GwGSUyFhzxgRTpEb7f4mZUb0dUVHxtRvta0Qic5hin1tt51to5d9MlxS3h18DUnKCXDbhVPNgu2Q5pSt_ZJUBAUieE4/4i3/r6ZL6jryThC20Sg42l8Hlw/h46/h001.TsHHBYm4d3AV4D-I8ZqBFh2w9tVYzpHVoVmQ3Bi37Mk\">Loved it 🧠🧠🧠</a></li><li class=\"listItem ff\" style=\"list-style-type:disc;text-align:left;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgH-qigySh3hAoVuoVNaPnGXpv61go1wcN9w2LxY9wFYS5hf1xMMZohlhURP3l_soECTk34rEIu1XywV457wFEkaDlBTjWP57DRbgEgoDCXNdf_4c1IebGIhCCJuIGWdV7F_9I9nmczy10V2ygfzl3tBXNHT25wzCB4sdTbBube0saiPrDyHxXChJtqThL_A-8jl2EdJXJWOBTr8yxCR7CxJLCgyFr95THMPOPGI0z6m3pOXsbGfQttTBwTilpt-6TiWfIC5U2BYci2xGIxxnuR0kBRTyOvVF_3sjtLFivFFT-GooG5pbp5MtftxogPkt4kr1G_kZ4dSmaJkPLfb5ZS5BycOmGLYmwwR71ImWbHD8eTM4xdturH_1pupPSl7RLzaU6-BIUlEfwNRJOHqmQKnq2tJTM_r8WDTzYNYsLqWf0ymjkOUGwM9Bkv3PZwoT7QMeXYLcQingD8pIVwpvxLf4WoUloWs4W4p8PRJTvvVKrzFQZn-ZXI3srcDduWYl80Jra-9Z0AuHW5v7mWeckjkQZy0c_lqiJ1hcEwriusWjnpn8mt7TdrDAZ0xn-gJBiA0Kn50pY1c6uiwPrYJfd7B3bYHTvnDUvnfc_Pi9Jr3JuWLXDm_AXuXqqBFN-lvhI3b0YPJQEWHXMO6ZdPs3nMRFr5EbYbVz9WUVyY313K9bD_arlW4Z6aOrVdAzb7WSzTACYezsNOfF1NBgediR8uXrM_dPZJGIeW9kSdGylw0DB_jtXThsVLFB_aPZIELewPr9vsFgYckAWTjirpWdHCSuq96YHL5LN6p8VP7ucyjOm12GeRJjNkb6FpXoYZYuI4LX3Ta1Cdp2oZ8HaFEhlVI/4i3/r6ZL6jryThC20Sg42l8Hlw/h47/h001.MKpUqukWkPzTHdL7OpKELVQvs67VsOOlOnnHtXH7tJs\">It was ok 🧠🧠</a></li><li class=\"listItem ff\" style=\"list-style-type:disc;text-align:left;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgH-qigySh3hAoVuoVNaPnGXpv61go1wcN9w2LxY9wFYS5hf1xMMZohlhURP3l_soECTk34rEIu1XywV457wFEkaMB9AtV5dK4iObmOx0c_lZEwfVPW1GMM9a9CQesp36kbSDIYs7Ai9Xhp2QkZSwS7ITcrCz53N6K81g-Gvhaft1XGtMn_5uT7whDdw1SjlSRyNAJurmFd33ufVljng40iv6k3JNnHXLEwYG_cFpZhcPngEoopwWGbQKMAScvEQjr5qQDFdAwgtWCj4kWtwRlH5maTMno8gsxTOitCRFUcg-nMWDiu8KyGJui7SsDYdjraWFNGwy0TCBNF3DxbG-ShtIP5mhzAoe4h2Ld_4UlIhIUSD-8rlkvgrKAdZrZhHbm7_p8YMP0Yd46ouou5yO4tNVLQeLqEy9DeZaeIsdokIjae4Ik5ZumTmj14juFVRfxKuTJ4InBDUV6gdEmtrTtcuSeAHkv-ywKUoxrhnKY_cZuSvamChoqIoKrghzqARwwg8dXvNloe44NDrAf3mh-LT517sxOOiwRiaFm4hZy8apvG55SCGoiRbGPd4C_EK8yu5XNfpw3VK3hmzBQu2t8ZrYKzu5d45S7HyLAreOMLkbPBTd-Foqr-M8gUtQEIHcCEEPeq7ZuPT1pst3SLMI9ScFnHLjGsDbdFYZH6mlOeQjU1TGzE0kq4S0djEzvEUC4s08MEXTVkJiftVQLeiQXkZteQylgSYEzHt-lQ3-psMQWhXHkekVwDRZaf4bEjFESHFdr6p32LunIUfFRerBCUBVa00f8AcjizzJ8cJqA9XRN3sCilbNP9iyXHF2QOpBxb5BOJvoMSYMvST2GPeShZM/4i3/r6ZL6jryThC20Sg42l8Hlw/h48/h001.LL62d0xmN3rDovJe0CeMYJrqm3sE6mj52FKyB-WDdH8\">Terrible 🧠</a></li></ul></div></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"><span style=\"\">Until next time — Zain & the Superhuman AI team</span></p></td></tr><tr><td class=\"dd\" align=\"left\" style=\"padding:0px 14px;text-align:left;word-break:break-word;\"><p style=\"mso-line-height-alt:150.0%;\"></p></td></tr></table></td><td width=\"4.0px\" style=\"line-height:1px;font-size:1px;width:4.0px;\"> &nbsp; </td></tr></table></td></tr><tr><td height=\"4.0px\" style=\"line-height:1px;font-size:1px;height:4.0px;\"> &nbsp; </td></tr></table></td></tr></table></td></tr></table></td></tr><tr><td align=\"center\" valign=\"top\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr><td><tr><td class=\"b\" align=\"center\" valign=\"top\" bgcolor=\"#ccffcb\" style=\"padding:0px 0px 0px 0px;border-style:solid;border-width: 0px 0px 0px 0px;border-color: #ffffff;border-bottom-left-radius:10px;border-bottom-right-radius:10px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr><td align=\"center\" valign=\"top\" bgcolor=\"#222222\" style=\"padding:12px\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr><td><span style=\"padding-left:1px;\"></span></td><td align=\"center\" valign=\"middle\" width=\"75\" style=\"width:75px;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.cbTlTBbOm0oxrOJrFZNEqc6jwbyUdOF1TTNAgEezYr7hP5snWWZ02cfZ7kpnd396T1ZABcgfvxWN3rRun0jen28_n-IU0KfewvkCR5A9VVoy-EjktOE-7HaGNuUya3uTnbkOlcXhAHFWXXt8VIv44AxZrMx14Ujg9XJyWBcPwjCIHkazr_SBrXVpni3TeLNwaX7wNIlIX1Q23gILKrqiA0TUbpXcEiKPH7RsudTuZAY/4i3/r6ZL6jryThC20Sg42l8Hlw/h49/h001.YWxiwNrJJIZN0Vm5wXiz8R-xZ1NPaSvEN8wZKlOQKTk\" style=\"text-decoration:none;\"><img width=\"22\" height=\"22\" alt=\"tw\" border=\"0\" style=\"display:block;max-width:22px;color:light\" src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/static_assets/x_light.png\"/></a></td><td align=\"center\" valign=\"middle\" width=\"75\" style=\"width:75px;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgCiymaAhoByoB-YHrFAh6bDH8Di9sOU-_1lctRkSDnLZadF3JaCh_mIsJnQg944YJY3AUBdhIatmvixx_Ac_A4diF951jRoFemjpnDIIZkBuZbzz9SzXV3JsOyLhOHbAtkP0idMGkS8Jw72GCEzC4X4MCHB-Y8TjV3Fps4Zok0cveAq1g_K89pDHKe7HIto5rFLE0s9mZ3E6wLhiTZ4ZOgs/4i3/r6ZL6jryThC20Sg42l8Hlw/h50/h001.DtE8YLc-pi67yXe5iWRzyxuiOoa5QAKTunPikY0iEgM\" style=\"text-decoration:none;\"><img width=\"22\" height=\"22\" alt=\"ig\" border=\"0\" style=\"display:block;max-width:22px;color:light\" src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/static_assets/instagram_light.png\"/></a></td><td align=\"center\" valign=\"middle\" width=\"75\" style=\"width:75px;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgLvYVHTN5IlbCiMaltJ7DioCOEMY0L-mgwNVEaqNzKYK35X1V719x-IGZ92GYHb06xZs8lDts5_Ad-GdZKtpVYYRvCLsipJqM87Z8BQXU4Y0kdHL1Bm8ojznPVUtOI3bj6MtsLpO2UJKlt1xpCj4osUiIyIkFs_yhtRFMFhysGk4gE0oySbmEMlijuYqYAAz1FB9ssvZFdQGt8Bb-pK9ulw/4i3/r6ZL6jryThC20Sg42l8Hlw/h51/h001.RThHJtaE9fHYeh65aiazre3PyeCCnblWZU3M9rIApb8\" style=\"text-decoration:none;\"><img width=\"22\" height=\"16\" alt=\"yt\" border=\"0\" style=\"display:block;max-width:22px;color:light\" src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/static_assets/youtube_light.png\"/></a></td><td align=\"center\" valign=\"middle\" width=\"75\" style=\"width:75px;\"><a href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgLLck_kHSmmSIIs3pPa1cxmiWPWUlvq6RNY3mVukBGqugYZWPPjKjmxDRAVGMP1qEhq9-OXRra57jyHXYJxRE00-Lzm9uyXBd50eaCk777pw9iRJf1nm3GQq8F6yBBjpoo2abRtsi-2983QKy9ahMSiQ4aD_ssEtAV9UzykZYVl6OAYFRI7PT1hirVoBnkvy2uHQOrPoDn4M1ikETnm-5B4/4i3/r6ZL6jryThC20Sg42l8Hlw/h52/h001.1QOUTI5VoPVtrshexHjsWMQMkJLnT6ihaXx8g3jdhnk\" style=\"text-decoration:none;\"><img width=\"22\" height=\"22\" alt=\"in\" border=\"0\" style=\"display:block;max-width:22px;color:light\" src=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/static_assets/linkedin_light.png\"/></a></td><td><span style=\"padding-left:1px;\"></span></td></tr></table></td></tr><tr><td height=\"10\" style=\"line-height:1px;font-size:1px;height:10px;\"> &nbsp; </td></tr><tr><td class=\"w\" align=\"center\" valign=\"top\" style=\"padding:15px 15px 15px 15px;\"><table role=\"none\" width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" align=\"center\"><tr><td align=\"center\" valign=\"top\"><p style=\"font-family:'Verdana',Geneva,sans-serif;color:#222222!important;\"> Update your <a href='https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgH-qigySh3hAoVuoVNaPnGX409TC72WQOG1eBcBfvSkdUzfoojFtsVQSNhX4Wl4PdgrpZpo7Dl3K9ilclJA7LXk0RcwYU8tdcMDkcxo9IbWMnwa5mhpEGm22glkNNhlHqNIWzY-ZJOeahDWOCj3jtDZIylArk9K6qYSVIZu_CLar6t1OuMU-gYunIO02u6kCmCVvrIJF4i6KImPsk8NcpGd34sbPhvSZxS5BTztwnHKwNCp1PocUZ9PS5MMkU0qrFmnXx2dbRHQX5EcWYEQYH7YEqgO02PGPnHXnEZHzLpP-Dyn8_VKniTVy0FTowZIZqu_OU3BefRsx6e_kWevZiDmqvgZ8GByBTio3tG8gcTmXm-J-arUJjO891R3bOGCjmIqd8Tx8YeVlhgKEsBUx5PtmvKjCyt4gnpaJ-WCXX07IbQaOK3S8lsrUMXxAfpQNCrcD6eaegjurCri8fa7rvllXlZntG4OBVOdaEHtpbPrMGMAgw_fk5jMuEW_Qbqc2WFhbJOlWiMzzyIjm-GVgJlQ_5EnzpbLYHJd_g3Y1u1mPnHptSGa3I-qQ1sRmHbH6Qfe4-D4jMcsSb1lQElMmSnRlFSmTARqIuQuvZ3XE7H7PrVnhiei9SBi_hJYt50pSfntS8C03gKU4UnANraEHEwpdHn58WGJFXhvq3uCd985X3zCtJetvyR6raC5rmGhvSQ/4i3/r6ZL6jryThC20Sg42l8Hlw/h53/h001.UngRZI5mW_qFzFNa0pBLt0XDzPzFNG-uQ_SdI-67y-I' style='text-decoration:underline;text-decoration-color:#222222!important;color:#222222!important;'>email preferences</a> or unsubscribe <a class=\"link\" href=\"https://link.mail.beehiiv.com/ss/c/u001.QR8PDET7GVRZS9oWC_jpgH-qigySh3hAoVuoVNaPnGX409TC72WQOG1eBcBfvSkdUzfoojFtsVQSNhX4Wl4PdgrpZpo7Dl3K9ilclJA7LXkQARL4evRN3xxk-y_Sr23rO6RmuOUWOT9LiYdS6b-8zq2VBIXiWC_k9QvHRNAHXS5XzkCoHzDxsODTunly6taPdbQs6Iiln2Y3ubGFr48wmjAhINOXm8BjQ8z0FnLpU6ww10HcyaNOs3ADy5zsBTHKxnjMm4R1T8oWULXFtFewEtClBWtDT_Vp8MP99itLlG4BT6CrGcKfzd_wIPzlUGQbGVk2RnWF47Dk71IDag795WPaUEGthPvfpQAhDCz7EHURsv_CqfpRyvHfxESXSHjaY2t6F3BV5PVop4bV67srAk3RwLso_h6B2cn9iFbC_W3vN5ckYesZYBdLYALuHQ7t5rQACVZjoM6eZAHUAzyOZT3564FJaFnvJaEOChubZsvL3yd1a5meLA4A3YgHhK2o7FOHzrj1GhUJtWFKkbwsBZBW-Apc6CPWkRC4yX4aWARUKWkHRAfEAjdbN_L_W9hfvYvk2avtOrG7IF_6s-zo4xe1IeoCFLdKojJSpBJTEeq38CRLxAhiRu5hgus-OYc1xvhnCehU2rHw7iTUkK6Yaur2ugI6M3kDCtEFXPA5hP4Rybc5e3zaWtMuvDUwBIRHoapR5iAvY1hJeH0xuw0fjwhKksVNlPXbRTVkJjczzzVOv9seP_ttLLnPsLZOVrCR9PtzWModSmh19wE8SAkjYcEQgdgUKNWYYTW46bebF6h0cjU-MvJrhoofdwvuMP0bCJoX2vlkXqvBJR5Xz5wbwvnihw-y1pgTG5rqHUN20lA/4i3/r6ZL6jryThC20Sg42l8Hlw/h54/h001.AgoghdGRss6cIAyCi1lL6lqD5JAi-WorXUGFitWgABg\" style=\"text-decoration:underline;text-decoration-color:#222222!important;color:#222222!important;\"> here</a></p><p class=\"copyright\" style=\"font-family:'Verdana',Geneva,sans-serif;color:#222222!important;\"> &copy; 2025 Superhuman Newsletter </p><p style=\"font-family:'Verdana',Geneva,sans-serif;color:#222222!important;\"> 228 Park Ave S, #29976, New York, New York 10003, United States </p></td></tr><tr><td align=\"left\" valign=\"top\" height=\"2\" style=\"height:2px;\"><a href='https://link.mail.beehiiv.com/ss/c/u001.zEtKbyME9NCWhmYYa-Fvv7hFdHgD7cUMp-QMfee5J1ryLB_oT_VE4hr4vHULU3q0Fd6PFh2faCMYSqdkFmF7YXHoTSF4BxYyGhHped10z6U/4i3/r6ZL6jryThC20Sg42l8Hlw/h55/h001.fU1MLSya7wY3pKerD94z_ZOuHWMFStS1EUaceXEpCOI' style=\"color: #ccffcb !important; cursor: default; font-size: 1px; text-decoration: none;\"> Terms of Service </a></td></tr></table></td></tr></table></td></tr></td></tr></table></td></tr></table></td></tr></table></td></tr></table></div></body></html>",
          "text": "----------\n\n\nView image: (https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/a4febcad-cb01-4bf5-9ce9-8eaaad3c147d/image.png?t=1751534988)\nCaption: \n\n**Welcome back, Superhuman. **How is it that AI can solve PhD-level math and science problems, but still trips over even the most [basic questions](https://www.reddit.com/r/ChatGPT/comments/1lvo7nr/so_was_2010_15_years_ago/)? As Grok 4 breaks new ground on performance benchmarks, I’m reminded of just how much of AI’s “thoughts” remain a total mystery.\n\n**Today:** Learn how to use an AI intern to create presentations, and get the latest prompts, headlines, and trending social posts.\n\n\n\n\n--------------------\n##### **TODAY IN AI**\n\nView image: (https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/9515636a-d190-4acf-a92b-7173c179936e/Getty_Image_2207699717.jpg?t=1752230973)\nCaption: Source: Getty Images\n\n**1.** **The world reacts to Grok 4: **Epic Games CEO Tim Sweeney has [seen enough](https://x.com/TimSweeneyEpic/status/1943398745762116029). He says xAI’s new frontier model might as well be AGI, considering it can generate “fairly deep insights on problems it hasn’t seen before.” Indeed, Grok 4 is [crushing](https://x.com/GregKamradt/status/1943169631491100856) difficult benchmarks, including ARC-AGI-2, a test built specifically to trip up LLMs. Of course, there’s [a lot more](https://x.com/signulll/status/1943334563876376747) that goes into a startup’s success than the sheer power of its model. But at the very least, the results seem to suggest that AI is still progressing at a remarkable pace. \n\n**2.** **Startup raises $100M to build superhuman math model: **Harmonic AI just [landed](https://www.morningstar.com/news/business-wire/20250710118878/harmonic-raises-100-million-series-b-to-accelerate-development-of-mathematical-superintelligence) $100M in a Series B round, sending its valuation soaring to $875M. Vlad Tenev, the CEO of financial exchange Robinhood, co-founded the company in 2023 with the goal of building a model that can find solutions to math problems that no human has been able to solve. Harmonic plans to make its Aristotle model available later this year. Unlike traditional LLMs, it uses a special verification process to cut down on hallucinations.\n\n**3.** **Amazon set to unveil one-stop shop for AI agents next week:** Amazon Web Services is set to launch an AI agent marketplace next week with Anthropic as a key partner, according to [TechCrunch](https://techcrunch.com/2025/07/10/aws-is-launching-an-ai-agent-marketplace-next-week-with-anthropic-as-a-partner/). The marketplace will reportedly allow startups to directly offer their AI tools to AWS's large customer base.\n\n\n\n\n--------------------\n##### **PRESENTED BY VANTA**\n\n## [Building with AI demands speed. Selling AI demands trust.](https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter)\n\nView image: (https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/949f55cc-5a2c-418c-ad17-8e7c8965feb1/VFS_BOFU_Showcase_1200x628_-_Mary_Almada.jpg?t=1752164081)\nFollow image link: (https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter)\nCaption: \n\nAs an AI founder, you’re used to sprinting—toward product-market fit, your next round, or that first enterprise contract.\n\nBut speed isn’t enough for AI startups. Buyers expect security, compliance, and transparency—from day one.\n\nThat’s why serious [AI startups use Vanta.](https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter)\n\nWith deep integrations and automated workflows built for fast-moving AI teams, Vanta gets you audit-ready fast—and keeps you secure with continuous monitoring as your models, infra, and customers evolve.\n\nAI innovators like LangChain, Writer, and Cursor scaled faster and closed bigger deals by [getting security right early with Vanta](https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter).\n\nGet compliant at AI-speed with Vanta. \n\n[**Claim a special offer of $1,000 off when you book a demo today.**](https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter)\n\n\n\n\n--------------------\n##### **FROM THE FRONTIER**\n\n## Where do we draw the line with AI-generated videos?\n\nView image: (https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/d016347e-0eeb-4640-9c41-7e1f2e68a648/Untitled_design_-_2025-07-10T200047.493__1_.jpg?t=1752192075)\nFollow image link: (https://x.com/PJaccetturo/status/1943321631272923229)\nCaption: Click to watch PJ Ace’s latest AI-generated creation. Source: PJ Ace/Popeye’s\n\n**PJ Ace is at it again.** The self-proclaimed AI filmmaker just followed up last month’s viral Kalshi commercial with a [video](https://x.com/PJaccetturo/status/1943321631272923229) for an even bigger client: Popeyes. The fast food chain turned to Ace for help producing an AI-assisted diss track and video to coincide with the return of the McDonald’s Snack Wrap. But this is far from the only sign that AI-generated videos are becoming impossible to ignore.\n\n**Here are some other recent examples:**\n\n* Ace is making waves for a follow-up to the zany spot he helped create for Kalshi last month. This one, which was made in just a week, is a montage of historical events where the underdogs end up on top. (Here’s a full [breakdown](https://x.com/PJaccetturo/status/1943347391815651736) of how it was made.)\n\n* An AI-assisted short film about human cloning is [blowing up](https://www.reddit.com/r/ChatGPT/comments/1lvtwj3/i_used_ai_to_create_this_short_film_on_human/) on Reddit, with the creator claiming they made it with just 600 prompts, 12 days, and a $500 budget. “Homie just prompted a Black Mirror episode,” one commenter wrote.\n\n* An AI-generated [YouTube Short](https://www.youtube.com/shorts/gJuwm3LbMcI) depicting a baby piloting a jumbo jet supposedly soared to the top of the charts last week, garnering more than 100M views.\n\n**Social media platforms are struggling to keep up: **For its part, YouTube has moved to [demonetize](https://techcrunch.com/2025/07/09/youtube-prepares-crackdown-on-mass-produced-and-repetitive-videos-as-concern-over-ai-slop-grows/) AI-generated spam and other “mass-produced” and “inauthentic” content. (Sorry, baby pilot.) But it’s not perfect: Some creators have discovered their real-life videos inadvertently getting labeled as AI fakes.\n\n**Not to mention, **these days, the best AI filmmakers tend to use a combination of AI and human-made tools and scripts. Even seasoned filmmakers are relying on AI for help with speeding up their edits or making subtle changes to shots. Do you label every video that AI touches as AI-generated? There’s a [fine line](https://www.wsj.com/articles/was-that-amazing-video-in-your-feed-real-or-ai-tech-platforms-are-struggling-to-let-you-know-fe7cceb6?mod=tech_lead_pos1) here, and it’s only going to get trickier as AI becomes a bigger part of our lives.\n\n\n\n\n--------------------\n##### **THE AI ACADEMY**\n\n## [**How to use an AI intern to create presentations for you**](https://context.ai/?ref=superhuman)\n\nView image: (https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/1b296245-e123-4267-903a-9489af98d42c/Figma_Group_1000004549__2_.jpg?t=1752220446)\nFollow image link: (https://context.ai/?ref=superhuman)\nCaption: \n\n* [Go to Context AI](https://context.ai/?ref=superhuman) and sign up.\n\n* Now select your relevant use case.\n\n* Select “Presentations,” and the AI will now act like your personal designer.\n\n_Sample prompt:  “Create a presentation on AI applications in healthcare, including 3 recent case studies and visual graphics.”_\n\n* In 15–20 minutes, Context will generate a comprehensive presentation with recent case studies and visual graphics.\n\n* You can send updates, refine instructions, or add extra info (just like messaging a human assistant).\n\n* Use @ to describe tasks, add integrations, or apply custom templates that match your style.\n\n* Context isn’t just for presentations — you can also use it to create docs, spreadsheets, and more with simple prompts.\n\n**[Create your AI intern](https://context.ai/?ref=superhuman)**\n\n\n\n\n--------------------\n##### **PRESENTED BY AIRTABLE**\n\n## [**Learn how to build and deploy AI-powered apps**](https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5)\n\nView image: (https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/6e43a0c5-c4ce-4710-865b-f2e54370d4e0/image_-_2025-07-10T211948.886.jpg?t=1752164499)\nFollow image link: (https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5)\nCaption: \n\n[Join Airtable for a live showcase](https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5) and discover how our Omni and Field Agents are reshaping how teams build, deploy, and scale AI-powered apps—without writing a line of code.\n\n**[Register now to see what’s possible.](https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5)**\n\n\n\n\n--------------------\n##### **IN THE KNOW**\n\n## **What’s trending on socials and headlines today**\n\nView image: (https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/1901c12b-1e43-4655-a63b-c31a8bf6df6f/Screenshot_2025-07-10_at_7.00.26_PM.jpg?t=1752188451)\nCaption: \n\n📚 **Productivity Boost: **Builder McKay Wrigley shows how to use Clade Code to “10x” your notes and research in this [helpful tutorial](https://x.com/mckaywrigley/status/1943034127462339060).\n\n🧑‍⚖️ **Chatbot Counsel: **A Redditor [claims](https://www.reddit.com/r/ChatGPT/comments/1lsa3oi/i_used_chatgpt_to_expose_a_5_million_estate_fraud/) they used ChatGPT to help draft court motions in an alleged $5M estate fraud case, leading a judge to look into it after 10 years. (Just note, chatbots aren’t lawyers and can get things wrong.)\n\n🌟 **Star Power: **Someone supposedly asked Grok to create a [physical representation](https://x.com/dvorahfr/status/1943161407509561662) of itself, and the luminous, cosmic result is going viral.\n\n✍️ **Writing’s on the Wall: **Tufts University scientist Michael Levin thinks AI will soon become the primary audience for whatever we write online, prompting a [fundamental shift](https://x.com/drmichaellevin/status/1943321140128030753) in how we communicate.\n\n———————————————————————————\n\n**Google **will now let Gemini subscribers use Veo 3 to turn their photos into [AI-generated, eight-second videos](https://x.com/GeminiApp/status/1943325980984250509) — featuring dialogue, sound effects, and 720p resolution.\n\n**Microsoft** [unveiled](https://www.science.org/doi/10.1126/science.adv9817) BioEmu-1.1, an updated version of its protein dynamics model, which can make biological predictions 10,000-100,000x faster than traditional methods. (Here’s a [short video](https://www.youtube.com/watch?v=LStKhWcL0VE) if you want to learn more.)\n\n\n\n\n--------------------\n##### **PRODUCTIVITY**\n\n## **5 New AI Tools to Boost Your Productivity**\n\n* 📊 **[HeronAI](https://www.heronai.com/)**: Connect, visualize, and ask your business data anything.\n\n* 📽️ **[Dynamic Mockup](https://dynamicmockups.com/)**: Create printable product images in seconds. \n\n* 🧑‍💻 **[Vidduo](https://www.vidduo.com/)**: Create cinematic videos from images with AI. \n\n* 📄 **[Delve](https://www.devle.ai/)**: Create professional apps and websites by simply chatting with AI.\n\n* 💁 **[Clasely](https://www.clasely.com/)**: Turn PDFs into interactive, character-guided learning experiences.\n\n^* indicates a promoted tool, if any^\n\n\n--------------------\n##### **PROMPT STATION**\n\n## Rank on AI Search Results\n\n```\nPrompt: You are an expert in Generative Engine Optimization (GEO) the emerging discipline of optimizing content to be referenced and recommended by large language models (LLMs) like ChatGPT, Claude, Gemini, and Perplexity.\n\nYour task is to take the content I paste below and optimize it so it becomes more likely to appear in the answers these LLMs generate when users ask related questions.\n\nHere is the content to optimize:\n[PASTE YOUR CONTENT HERE]\n\nPlease rewrite the content with the following enhancements:\n1. Contextual Relevance\n   - Add clear signals about who the content is for and what problem it solves.\n   - Embed real-world use cases or questions this content answers.\n2. Semantic Richness\n   - Use natural language that matches how users ask questions (e.g. “best tools for X”, “how do I…”).\n   - Include related keywords and phrases LLMs associate with the topic.\n3. Answer-Style Formatting\n   - Structure the content in a way that is easy for LLMs to extract as a direct response.\n   - Use bullet points, numbered lists, and headers for clarity.\n4. Topical Authority Signals\n   - Mention data points, user outcomes, or unique value props.\n   - Use specific, useful, and trust-building language.\n5. Natural Brand Integration\n   - If a brand, product, or service is being mentioned, weave it in naturally as a recommended or reputable option.\n\nPlease output only the optimized version. Do **not** explain your changes. Write it as if it’s a standalone, publish-ready piece designed to be cited by LLMs when generating responses.\n\nSource: Godofprompt\n```\n———————————————————————————\n\n## Real or Render?\n\nView image: (https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/a91d13aa-9b48-44a3-91d4-ec1ffe4d3ab4/Group_1000004540.jpg?t=1751537467)\nCaption: \n\n\n\n\n--------------------\n\n\n### Whenever you’re ready to take the next step\n\n* Check out our [Top 125 AI Tools](https://airtable.com/apppaprA2GXXxBSjs/shrjsPiubnIHIqTwH/tblCm6yevfjitvoCh/viwKzKHKKqd5d5bk8)\n\n* Get better at prompting with our [Top 1,000 Prompts](https://www.superhuman.ai/c/1000_chatgpt_prompts)\n\n* Learn how to use AI at work and get certified with our free [beginners course](https://education.superhuman.ai/courses/aiforwork)\n\n==**Grow customers & revenue:**== Join companies like Amazon, Hubspot, and Salesforce. Showcase your product to our 1M+ readers and 2M+ followers on socials. [Get in touch](https://www.joinsuperhuman.io/ad-sponsorships).\n\n———————————————————————————\n\nUntil next time — Zain & the Superhuman AI team\n\n\n\n\n----------\n———\n\nYou are reading a plain text version of this post. For the best experience, copy and paste this link in your browser to view the post online:\nhttps://www.superhuman.ai/p/grok-4-fuels-agi-debate\n",
          "textAsHtml": "<p>----------</p><p>View image: (<a href=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/a4febcad-cb01-4bf5-9ce9-8eaaad3c147d/image.png?t=1751534988\">https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/a4febcad-cb01-4bf5-9ce9-8eaaad3c147d/image.png?t=1751534988</a>)<br/>Caption:</p><p>**Welcome back, Superhuman. **How is it that AI can solve PhD-level math and science problems, but still trips over even the most [basic questions](<a href=\"https://www.reddit.com/r/ChatGPT/comments/1lvo7nr/so_was_2010_15_years_ago/\">https://www.reddit.com/r/ChatGPT/comments/1lvo7nr/so_was_2010_15_years_ago/</a>)? As Grok 4 breaks new ground on performance benchmarks, I&rsquo;m reminded of just how much of AI&rsquo;s &ldquo;thoughts&rdquo; remain a total mystery.</p><p>**Today:** Learn how to use an AI intern to create presentations, and get the latest prompts, headlines, and trending social posts.</p><p>--------------------<br/>##### **TODAY IN AI**</p><p>View image: (<a href=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/9515636a-d190-4acf-a92b-7173c179936e/Getty_Image_2207699717.jpg?t=1752230973\">https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/9515636a-d190-4acf-a92b-7173c179936e/Getty_Image_2207699717.jpg?t=1752230973</a>)<br/>Caption: Source: Getty Images</p><p>**1.** **The world reacts to Grok 4: **Epic Games CEO Tim Sweeney has [seen enough](<a href=\"https://x.com/TimSweeneyEpic/status/1943398745762116029\">https://x.com/TimSweeneyEpic/status/1943398745762116029</a>). He says xAI&rsquo;s new frontier model might as well be AGI, considering it can generate &ldquo;fairly deep insights on problems it hasn&rsquo;t seen before.&rdquo; Indeed, Grok 4 is [crushing](<a href=\"https://x.com/GregKamradt/status/1943169631491100856\">https://x.com/GregKamradt/status/1943169631491100856</a>) difficult benchmarks, including ARC-AGI-2, a test built specifically to trip up LLMs. Of course, there&rsquo;s [a lot more](<a href=\"https://x.com/signulll/status/1943334563876376747\">https://x.com/signulll/status/1943334563876376747</a>) that goes into a startup&rsquo;s success than the sheer power of its model. But at the very least, the results seem to suggest that AI is still progressing at a remarkable pace.</p><p>**2.** **Startup raises $100M to build superhuman math model: **Harmonic AI just [landed](<a href=\"https://www.morningstar.com/news/business-wire/20250710118878/harmonic-raises-100-million-series-b-to-accelerate-development-of-mathematical-superintelligence\">https://www.morningstar.com/news/business-wire/20250710118878/harmonic-raises-100-million-series-b-to-accelerate-development-of-mathematical-superintelligence</a>) $100M in a Series B round, sending its valuation soaring to $875M. Vlad Tenev, the CEO of financial exchange Robinhood, co-founded the company in 2023 with the goal of building a model that can find solutions to math problems that no human has been able to solve. Harmonic plans to make its Aristotle model available later this year. Unlike traditional LLMs, it uses a special verification process to cut down on hallucinations.</p><p>**3.** **Amazon set to unveil one-stop shop for AI agents next week:** Amazon Web Services is set to launch an AI agent marketplace next week with Anthropic as a key partner, according to [TechCrunch](<a href=\"https://techcrunch.com/2025/07/10/aws-is-launching-an-ai-agent-marketplace-next-week-with-anthropic-as-a-partner/\">https://techcrunch.com/2025/07/10/aws-is-launching-an-ai-agent-marketplace-next-week-with-anthropic-as-a-partner/</a>). The marketplace will reportedly allow startups to directly offer their AI tools to AWS&apos;s large customer base.</p><p>--------------------<br/>##### **PRESENTED BY VANTA**</p><p>## [Building with AI demands speed. Selling AI demands trust.](<a href=\"https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter\">https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter</a>)</p><p>View image: (<a href=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/949f55cc-5a2c-418c-ad17-8e7c8965feb1/VFS_BOFU_Showcase_1200x628_-_Mary_Almada.jpg?t=1752164081\">https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/949f55cc-5a2c-418c-ad17-8e7c8965feb1/VFS_BOFU_Showcase_1200x628_-_Mary_Almada.jpg?t=1752164081</a>)<br/>Follow image link: (<a href=\"https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter\">https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter</a>)<br/>Caption:</p><p>As an AI founder, you&rsquo;re used to sprinting&mdash;toward product-market fit, your next round, or that first enterprise contract.</p><p>But speed isn&rsquo;t enough for AI startups. Buyers expect security, compliance, and transparency&mdash;from day one.</p><p>That&rsquo;s why serious [AI startups use Vanta.](<a href=\"https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter\">https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter</a>)</p><p>With deep integrations and automated workflows built for fast-moving AI teams, Vanta gets you audit-ready fast&mdash;and keeps you secure with continuous monitoring as your models, infra, and customers evolve.</p><p>AI innovators like LangChain, Writer, and Cursor scaled faster and closed bigger deals by [getting security right early with Vanta](<a href=\"https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter\">https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter</a>).</p><p>Get compliant at AI-speed with Vanta.</p><p>[**Claim a special offer of $1,000 off when you book a demo today.**](<a href=\"https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter\">https://www.vanta.com/solutions/startup?utm_campaign=ai-demo&utm_source=superhuman&utm_medium=newsletter</a>)</p><p>--------------------<br/>##### **FROM THE FRONTIER**</p><p>## Where do we draw the line with AI-generated videos?</p><p>View image: (<a href=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/d016347e-0eeb-4640-9c41-7e1f2e68a648/Untitled_design_-_2025-07-10T200047.493__1_.jpg?t=1752192075\">https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/d016347e-0eeb-4640-9c41-7e1f2e68a648/Untitled_design_-_2025-07-10T200047.493__1_.jpg?t=1752192075</a>)<br/>Follow image link: (<a href=\"https://x.com/PJaccetturo/status/1943321631272923229\">https://x.com/PJaccetturo/status/1943321631272923229</a>)<br/>Caption: Click to watch PJ Ace&rsquo;s latest AI-generated creation. Source: PJ Ace/Popeye&rsquo;s</p><p>**PJ Ace is at it again.** The self-proclaimed AI filmmaker just followed up last month&rsquo;s viral Kalshi commercial with a [video](<a href=\"https://x.com/PJaccetturo/status/1943321631272923229\">https://x.com/PJaccetturo/status/1943321631272923229</a>) for an even bigger client: Popeyes. The fast food chain turned to Ace for help producing an AI-assisted diss track and video to coincide with the return of the McDonald&rsquo;s Snack Wrap. But this is far from the only sign that AI-generated videos are becoming impossible to ignore.</p><p>**Here are some other recent examples:**</p><p>* Ace is making waves for a follow-up to the zany spot he helped create for Kalshi last month. This one, which was made in just a week, is a montage of historical events where the underdogs end up on top. (Here&rsquo;s a full [breakdown](<a href=\"https://x.com/PJaccetturo/status/1943347391815651736\">https://x.com/PJaccetturo/status/1943347391815651736</a>) of how it was made.)</p><p>* An AI-assisted short film about human cloning is [blowing up](<a href=\"https://www.reddit.com/r/ChatGPT/comments/1lvtwj3/i_used_ai_to_create_this_short_film_on_human/\">https://www.reddit.com/r/ChatGPT/comments/1lvtwj3/i_used_ai_to_create_this_short_film_on_human/</a>) on Reddit, with the creator claiming they made it with just 600 prompts, 12 days, and a $500 budget. &ldquo;Homie just prompted a Black Mirror episode,&rdquo; one commenter wrote.</p><p>* An AI-generated [YouTube Short](<a href=\"https://www.youtube.com/shorts/gJuwm3LbMcI\">https://www.youtube.com/shorts/gJuwm3LbMcI</a>) depicting a baby piloting a jumbo jet supposedly soared to the top of the charts last week, garnering more than 100M views.</p><p>**Social media platforms are struggling to keep up: **For its part, YouTube has moved to [demonetize](<a href=\"https://techcrunch.com/2025/07/09/youtube-prepares-crackdown-on-mass-produced-and-repetitive-videos-as-concern-over-ai-slop-grows/\">https://techcrunch.com/2025/07/09/youtube-prepares-crackdown-on-mass-produced-and-repetitive-videos-as-concern-over-ai-slop-grows/</a>) AI-generated spam and other &ldquo;mass-produced&rdquo; and &ldquo;inauthentic&rdquo; content. (Sorry, baby pilot.) But it&rsquo;s not perfect: Some creators have discovered their real-life videos inadvertently getting labeled as AI fakes.</p><p>**Not to mention, **these days, the best AI filmmakers tend to use a combination of AI and human-made tools and scripts. Even seasoned filmmakers are relying on AI for help with speeding up their edits or making subtle changes to shots. Do you label every video that AI touches as AI-generated? There&rsquo;s a [fine line](<a href=\"https://www.wsj.com/articles/was-that-amazing-video-in-your-feed-real-or-ai-tech-platforms-are-struggling-to-let-you-know-fe7cceb6?mod=tech_lead_pos1\">https://www.wsj.com/articles/was-that-amazing-video-in-your-feed-real-or-ai-tech-platforms-are-struggling-to-let-you-know-fe7cceb6?mod=tech_lead_pos1</a>) here, and it&rsquo;s only going to get trickier as AI becomes a bigger part of our lives.</p><p>--------------------<br/>##### **THE AI ACADEMY**</p><p>## [**How to use an AI intern to create presentations for you**](<a href=\"https://context.ai/?ref=superhuman\">https://context.ai/?ref=superhuman</a>)</p><p>View image: (<a href=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/1b296245-e123-4267-903a-9489af98d42c/Figma_Group_1000004549__2_.jpg?t=1752220446\">https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/1b296245-e123-4267-903a-9489af98d42c/Figma_Group_1000004549__2_.jpg?t=1752220446</a>)<br/>Follow image link: (<a href=\"https://context.ai/?ref=superhuman\">https://context.ai/?ref=superhuman</a>)<br/>Caption:</p><p>* [Go to Context AI](<a href=\"https://context.ai/?ref=superhuman\">https://context.ai/?ref=superhuman</a>) and sign up.</p><p>* Now select your relevant use case.</p><p>* Select &ldquo;Presentations,&rdquo; and the AI will now act like your personal designer.</p><p>_Sample prompt:&nbsp; &ldquo;Create a presentation on AI applications in healthcare, including 3 recent case studies and visual graphics.&rdquo;_</p><p>* In 15&ndash;20 minutes, Context will generate a comprehensive presentation with recent case studies and visual graphics.</p><p>* You can send updates, refine instructions, or add extra info (just like messaging a human assistant).</p><p>* Use @ to describe tasks, add integrations, or apply custom templates that match your style.</p><p>* Context isn&rsquo;t just for presentations &mdash; you can also use it to create docs, spreadsheets, and more with simple prompts.</p><p>**[Create your AI intern](<a href=\"https://context.ai/?ref=superhuman\">https://context.ai/?ref=superhuman</a>)**</p><p>--------------------<br/>##### **PRESENTED BY AIRTABLE**</p><p>## [**Learn how to build and deploy AI-powered apps**](<a href=\"https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5\">https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5</a>)</p><p>View image: (<a href=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/6e43a0c5-c4ce-4710-865b-f2e54370d4e0/image_-_2025-07-10T211948.886.jpg?t=1752164499\">https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/6e43a0c5-c4ce-4710-865b-f2e54370d4e0/image_-_2025-07-10T211948.886.jpg?t=1752164499</a>)<br/>Follow image link: (<a href=\"https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5\">https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5</a>)<br/>Caption:</p><p>[Join Airtable for a live showcase](<a href=\"https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5\">https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5</a>) and discover how our Omni and Field Agents are reshaping how teams build, deploy, and scale AI-powered apps&mdash;without writing a line of code.</p><p>**[Register now to see what&rsquo;s possible.](<a href=\"https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5\">https://www.vpdae.com/redirect/8suzn68a8t1i5ejgbu87ne1kgr5</a>)**</p><p>--------------------<br/>##### **IN THE KNOW**</p><p>## **What&rsquo;s trending on socials and headlines today**</p><p>View image: (<a href=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/1901c12b-1e43-4655-a63b-c31a8bf6df6f/Screenshot_2025-07-10_at_7.00.26_PM.jpg?t=1752188451\">https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/1901c12b-1e43-4655-a63b-c31a8bf6df6f/Screenshot_2025-07-10_at_7.00.26_PM.jpg?t=1752188451</a>)<br/>Caption:</p><p>&#x1F4DA; **Productivity Boost: **Builder McKay Wrigley shows how to use Clade Code to &ldquo;10x&rdquo; your notes and research in this [helpful tutorial](<a href=\"https://x.com/mckaywrigley/status/1943034127462339060\">https://x.com/mckaywrigley/status/1943034127462339060</a>).</p><p>&#x1F9D1;&zwj;&#x2696;&#xFE0F; **Chatbot Counsel: **A Redditor [claims](<a href=\"https://www.reddit.com/r/ChatGPT/comments/1lsa3oi/i_used_chatgpt_to_expose_a_5_million_estate_fraud/\">https://www.reddit.com/r/ChatGPT/comments/1lsa3oi/i_used_chatgpt_to_expose_a_5_million_estate_fraud/</a>) they used ChatGPT to help draft court motions in an alleged $5M estate fraud case, leading a judge to look into it after 10 years. (Just note, chatbots aren&rsquo;t lawyers and can get things wrong.)</p><p>&#x1F31F; **Star Power: **Someone supposedly asked Grok to create a [physical representation](<a href=\"https://x.com/dvorahfr/status/1943161407509561662\">https://x.com/dvorahfr/status/1943161407509561662</a>) of itself, and the luminous, cosmic result is going viral.</p><p>&#x270D;&#xFE0F; **Writing&rsquo;s on the Wall: **Tufts University scientist Michael Levin thinks AI will soon become the primary audience for whatever we write online, prompting a [fundamental shift](<a href=\"https://x.com/drmichaellevin/status/1943321140128030753\">https://x.com/drmichaellevin/status/1943321140128030753</a>) in how we communicate.</p><p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</p><p>**Google **will now let Gemini subscribers use Veo 3 to turn their photos into [AI-generated, eight-second videos](<a href=\"https://x.com/GeminiApp/status/1943325980984250509\">https://x.com/GeminiApp/status/1943325980984250509</a>) &mdash; featuring dialogue, sound effects, and 720p resolution.</p><p>**Microsoft** [unveiled](<a href=\"https://www.science.org/doi/10.1126/science.adv9817\">https://www.science.org/doi/10.1126/science.adv9817</a>) BioEmu-1.1, an updated version of its protein dynamics model, which can make biological predictions 10,000-100,000x faster than traditional methods. (Here&rsquo;s a [short video](<a href=\"https://www.youtube.com/watch?v=LStKhWcL0VE\">https://www.youtube.com/watch?v=LStKhWcL0VE</a>) if you want to learn more.)</p><p>--------------------<br/>##### **PRODUCTIVITY**</p><p>## **5 New AI Tools to Boost Your Productivity**</p><p>* &#x1F4CA; **[HeronAI](<a href=\"https://www.heronai.com/\">https://www.heronai.com/</a>)**: Connect, visualize, and ask your business data anything.</p><p>* &#x1F4FD;&#xFE0F; **[Dynamic Mockup](<a href=\"https://dynamicmockups.com/\">https://dynamicmockups.com/</a>)**: Create printable product images in seconds.</p><p>* &#x1F9D1;&zwj;&#x1F4BB; **[Vidduo](<a href=\"https://www.vidduo.com/\">https://www.vidduo.com/</a>)**: Create cinematic videos from images with AI.</p><p>* &#x1F4C4; **[Delve](<a href=\"https://www.devle.ai/\">https://www.devle.ai/</a>)**: Create professional apps and websites by simply chatting with AI.</p><p>* &#x1F481; **[Clasely](<a href=\"https://www.clasely.com/\">https://www.clasely.com/</a>)**: Turn PDFs into interactive, character-guided learning experiences.</p><p>^* indicates a promoted tool, if any^</p><p>--------------------<br/>##### **PROMPT STATION**</p><p>## Rank on AI Search Results</p><p>&grave;&grave;&grave;<br/>Prompt: You are an expert in Generative Engine Optimization (GEO) the emerging discipline of optimizing content to be referenced and recommended by large language models (LLMs) like ChatGPT, Claude, Gemini, and Perplexity.</p><p>Your task is to take the content I paste below and optimize it so it becomes more likely to appear in the answers these LLMs generate when users ask related questions.</p><p>Here is the content to optimize:<br/>[PASTE YOUR CONTENT HERE]</p><p>Please rewrite the content with the following enhancements:<br/>1. Contextual Relevance<br/>   - Add clear signals about who the content is for and what problem it solves.<br/>   - Embed real-world use cases or questions this content answers.<br/>2. Semantic Richness<br/>   - Use natural language that matches how users ask questions (e.g. &ldquo;best tools for X&rdquo;, &ldquo;how do I&mldr;&rdquo;).<br/>   - Include related keywords and phrases LLMs associate with the topic.<br/>3. Answer-Style Formatting<br/>   - Structure the content in a way that is easy for LLMs to extract as a direct response.<br/>   - Use bullet points, numbered lists, and headers for clarity.<br/>4. Topical Authority Signals<br/>   - Mention data points, user outcomes, or unique value props.<br/>   - Use specific, useful, and trust-building language.<br/>5. Natural Brand Integration<br/>   - If a brand, product, or service is being mentioned, weave it in naturally as a recommended or reputable option.</p><p>Please output only the optimized version. Do **not** explain your changes. Write it as if it&rsquo;s a standalone, publish-ready piece designed to be cited by LLMs when generating responses.</p><p>Source: Godofprompt<br/>&grave;&grave;&grave;<br/>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</p><p>## Real or Render?</p><p>View image: (<a href=\"https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/a91d13aa-9b48-44a3-91d4-ec1ffe4d3ab4/Group_1000004540.jpg?t=1751537467\">https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/a91d13aa-9b48-44a3-91d4-ec1ffe4d3ab4/Group_1000004540.jpg?t=1751537467</a>)<br/>Caption:</p><p>--------------------</p><p>### Whenever you&rsquo;re ready to take the next step</p><p>* Check out our [Top 125 AI Tools](<a href=\"https://airtable.com/apppaprA2GXXxBSjs/shrjsPiubnIHIqTwH/tblCm6yevfjitvoCh/viwKzKHKKqd5d5bk8\">https://airtable.com/apppaprA2GXXxBSjs/shrjsPiubnIHIqTwH/tblCm6yevfjitvoCh/viwKzKHKKqd5d5bk8</a>)</p><p>* Get better at prompting with our [Top 1,000 Prompts](<a href=\"https://www.superhuman.ai/c/1000_chatgpt_prompts\">https://www.superhuman.ai/c/1000_chatgpt_prompts</a>)</p><p>* Learn how to use AI at work and get certified with our free [beginners course](<a href=\"https://education.superhuman.ai/courses/aiforwork\">https://education.superhuman.ai/courses/aiforwork</a>)</p><p>==**Grow customers &amp; revenue:**== Join companies like Amazon, Hubspot, and Salesforce. Showcase your product to our 1M+ readers and 2M+ followers on socials. [Get in touch](<a href=\"https://www.joinsuperhuman.io/ad-sponsorships\">https://www.joinsuperhuman.io/ad-sponsorships</a>).</p><p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</p><p>Until next time &mdash; Zain &amp; the Superhuman AI team</p><p>----------<br/>&mdash;&mdash;&mdash;</p><p>You are reading a plain text version of this post. For the best experience, copy and paste this link in your browser to view the post online:<br/><a href=\"https://www.superhuman.ai/p/grok-4-fuels-agi-debate\">https://www.superhuman.ai/p/grok-4-fuels-agi-debate</a></p>",
          "subject": "🔥 Grok 4 fuels AGI debate",
          "date": "2025-07-11T13:08:40.000Z",
          "to": {
            "value": [
              {
                "address": "haghiri75@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:haghiri75@gmail.com\" class=\"mp_address_email\">haghiri75@gmail.com</a></span>",
            "text": "haghiri75@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "superhuman@mail.joinsuperhuman.ai",
                "name": "Superhuman – Zain Kahn"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Superhuman &#x2013; Zain Kahn</span> &lt;<a href=\"mailto:superhuman@mail.joinsuperhuman.ai\" class=\"mp_address_email\">superhuman@mail.joinsuperhuman.ai</a>&gt;</span>",
            "text": "\"Superhuman – Zain Kahn\" <superhuman@mail.joinsuperhuman.ai>"
          },
          "messageId": "<IixE5A3qQH-49lXTMfxudw@geopod-ismtpd-23>",
          "replyTo": {
            "value": [
              {
                "address": "superhuman@joinsuperhuman.io",
                "name": "Superhuman – Zain Kahn"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Superhuman &#x2013; Zain Kahn</span> &lt;<a href=\"mailto:superhuman@joinsuperhuman.io\" class=\"mp_address_email\">superhuman@joinsuperhuman.io</a>&gt;</span>",
            "text": "\"Superhuman – Zain Kahn\" <superhuman@joinsuperhuman.io>"
          }
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Newsletter Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Newsletter Summarizer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter Summarizer": {
      "main": [
        [
          {
            "node": "Idea Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Newsletter Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idea Generator": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "102d47fb-ee5a-4f64-bf44-013dd7f6bebd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fcdb4b423f4e5283afa249d762ef6aef150e91fccd810d43e5e719d14512dec7"
  },
  "id": "Asd8BwDUUfdLv5Pg",
  "tags": []
}